.page-slider {
  dispay: block;
  width: 100%;
  height: 100%;
}

.page-slider__container {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.page-slider__item {
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.page-slider__globe {

}
