.audio-player {
  display: none;
}

.audio-player-circle {
  position:absolute;
  left: 20px;
  bottom: 15px;
  z-index: 18;
  width: 200px;
  height: 104px;
}

.audio-player_circle_true {
  visibility: hidden;
}

.audio-player_show_yes {
  visibility: visible;
}

.jp-playlist-wrapper {
  position: absolute;
  left: 130px;
  top: 0;
}

.jp-playlist {
  height: 90px;
  margin: 7px 0 0 0;
  overflow: hidden;
}

.jp-playlist ul {
  margin: 30px 0 0 0;
  padding: 0;

  transition: -webkit-transform 0.1s ease-out;
  transform: translate3d(0px, 0px, 0px);
}

.jp-playlist ul li {
  height: 30px;
  line-height: 33px;
  padding: 0;
  list-style: none;
  text-align: center;
}

a.jp-playlist-item {
  font-family: "Conv_Pancetta_Pro_Regular";
  font-size: 16px;
  color: #cea58c;
  text-decoration: none;
  opacity: 0.5;
  vertical-align: bottom;
}

.jp-playlist_highlited a.jp-playlist-item {
  color: lighten(#cea58c, 10%)
}

.jp-playlist-current a.jp-playlist-item.jp-playlist-current {
  font-size: 21px;
  opacity: 1;
}

li.jp-playlist-current + li a.jp-playlist-item {
  line-height: 28px;
  vertical-align: top;
}

.jp-playlist__selected-container {
  margin: 36px 0 0 0;
  height: 30px;
  position: absolute;
  top: 0;
  z-index: 11;
  width: 100%;

  background:url("../images/circle-player/slides_border.png") 0 0 no-repeat;
}
