/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
//@import 'components/utils';
//@import 'components/normalize';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Conv_Pancetta_Pro_Regular',Sans-Serif;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  min-weight: 1024px;
}

body.open {
  overflow: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {

  main {
    max-width: 864px;
    padding-top: 0;
    min-height: initial;
  }

  body {
    overflow-y: scroll;
  }
}

@import "blocks/page";

.clear {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

@font-face {
  font-family: 'Conv_Pancetta_Pro_Regular';
  src: url('/fonts/Pancetta_Pro_Regular.eot');
  src: local('☺'), url('/fonts/Pancetta_Pro_Regular.woff') format('woff'), url('/fonts/Pancetta_Pro_Regular.ttf') format('truetype'), url('../fonts/Pancetta_Pro_Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "blocks/idangerous.swiper.css";


