.page-slider {
  dispay: block;
  width: 100%;
  height: 100%;
}

.page-slider__container {
  width: 100%;
  height: 100%;
  position: relative;

  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.page-slider__item {
  position: relative;
  float: left;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.page-slider__image {
  width: 100%;
  height: 100%;

  background-size: cover;
  background-repeat: no-repeat;
}

.page-slider__description {
  position: absolute;
  color: white;
  bottom: 30px;
  width: 100%;
  text-align: center;
}

.page-slider__globe {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 20;
  width: 40px;
  height: 40px;
  background: url("../images/animation/globe.gif") 0 0 no-repeat;
  background-size: 40px;
}

.page-slider__globe_animation_yes {
  display: block;
}

.page-slider__pagination {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  bottom: 5px;

  .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    box-shadow: 0 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
  }

  .swiper-active-switch {
    background: #fff;
  }

}


.page__column_type_fullsized {

  .page-slider__pagination,
  .page-slider__description {
    display: none;
  }
}

.page-slider_align_left {
  .page-slider__image {
    background-position: 100% 0;
  }
}

