<div class="page" id="page165">
<div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
    </div>
  </div>
       <div class="text1col">
            <div style="position:absolute;top:90px;left:137px;width:305px;height:28px;background:url('images/sections/6/pages/165/zav.png') no-repeat; background-size:contain;"></div>
                        <div style="float:left;padding-left:81px;padding-top:176px;padding-right: 17px;">
О, ты, читающий это описание, помолись за <span style="letter-spacing:-0.3px;word-spacing:-1px;">меня немощного раба Павла, по званию архи-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> диакона, да простит мои согрешения Тот, Кто</span><span style="letter-spacing:-0.4px;word-spacing:-2px;"> даровал мне силы составить подобное
изло-</span><span style="letter-spacing:-0.4px;word-spacing:-1px;">жение. Да получат от него христиане обильную</span> пользу, да услышат они слова истины о вели- кой стране, о благородных обычаях её жите- лей, их постоянстве и 
безграничной твёрдости в богопочитании, о строгом соблюдении ими установленных правил, об искренной вере и доброй нравственности. Я утруждал свои глаза, разум и 
чувства, прилагал большие ста- рания и много потрудился. Всё моё желание состояло в том, чтобы при жизни соорудить себе памятник, чтобы впоследствии нашёлся человек, 
который от всего сердца скажет – <p style="text-align:center;margin:0;">«Да помилует его Бог!»</p>           
            </div>
       </div>
   </div>