<div class="page" id="page183">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Ну и в заключении ещё одна история немецкого сказочника, которая могла бы стать превосходной темой для юбилейного выпуска передачи «Пусть говорят».

«Во времена великого князя Бориса Годунова, как рассказывал нам пастор Мартин Бэр, в то время живший в Москве, случилось как-то, что великий князь, испытывая большие страдания от подагры, воскликнул: «Не найдётся ли кто-нибудь, кто сумел бы его освободить от этой болезни? Пусть таковой скажется, и, не взирая на состояние и веру его, ему даны будут в награду за лечение большие милости и богатства». Когда об этом узнала жена одного боярина, испытывавшая суровое обхождение со стороны своего мужа, она решила, что представляется удобный случай отомстить. Поэтому она пошла и до
       </div>
   <div style="text-align:justify;padding-top:566px;" class="col2">
       несла о своём муже, будто ему известно хорошее средство для помощи великому князю, но он не желает сделать князю угодное. Боярина призвали и расспросили. Когда же он сказал, что совершенно несведущ в лечебной науке, его безжалостно высекли и удержали в заточении. А когда он заявил, что эту баню жена устроила ему из мести и что он намерен ей это напомнить, его ещё сильнее избили и пригрозили даже смертной казнью… если он не спасет великого князя от болезни. 

Добрый боярин со страха не знал, что начать, и тем не менее, он попросил отсрочки на 14 дней, чтобы собрать некоторые травы, при помощи которых думал испробовать своё спасение. Он хотел прожить ещё хоть немного дней, надеясь, что тем временем случится что-либо новое
   </div>
   </div>  
   </div>