<div class="page" id="page130">
    <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
            <div style="position:absolute;top:246px;left:10px;width:109px;height:260px;background:url('images/pages/130/r.png') no-repeat; background-size: contain;"></div>
    <div style="position:absolute;top:86px;left:73px;width:320px;height:89px;background:url('images/pages/130/rus.png') no-repeat; background-size:contain;"></div>
       <div class="text1col-left" style="padding-top:326px;">
                <div style="padding-left:16px;text-align:justify;">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">усские известны своей мудростью, смыш-</span><span style="letter-spacing:-0.4px;word-spacing:-2px;"> лённостью, проницательностью и даже про-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> столюдин может задать такой глубокомыс-</span>                    
                </div>
           ленный вопрос, который поставит в тупик <span style="letter-spacing:-0.3px;word-spacing:-1px;">учёного и заставит его покраснеть. Среди на-</span> стоятелей храмов и монастырей много лю- дей весьма <a class="article-link">образованных</a>, знающих логику, 
<span style="letter-spacing:0.2px;">ораторов, богословов. Все русские, даже</span> большинство их жён и дочерей, умеют чи- тать. Что касается зависти и иных пороков, всех вообще, этого они не знают.      
            </div>
    <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__map-container">
         <img src="http://savvy-club.com/book/comment/130.jpg" />
    </div>
  </div>
   </div>