 <div class="page" id="page44">
       <div class="text2col">
	            <div style="position:absolute;top:75px;left:73px;width:299px;height:98px;background:url('img/glava1/obilie.png') no-repeat; background-size:contain;"></div>
	            <div style="position:absolute;top:193px;left:27px;width:109px;height:260px;background:url('img/glava1/v.png') no-repeat; background-size: contain;"></div>
         <div style="text-align:justify;padding-top:207px;" class="col1">
                    <div style="padding-left:27px;text-align:justify;">
				домах земли казаков мы весьма удивля- <span style="letter-spacing:-0.3px;word-spacing:-1px;">лись обилию всяких благ. В доме каждого</span> человека по десять и более детей, с бе- лыми волосами на голове; за большую <span style="letter-spacing:0.2px;">белизну мы называли их старцами. Они
	                </div>
			погодки и идут лесенкой один за другим, <span style="letter-spacing:-0.3px;word-spacing:-1px;">что ещё сильнее увеличивало наше изумле-</span> ние. Дети выходили посмотреть на нас, но больше мы на них любовались. Ты увидел бы, что большой стоит с краю, подле него пониже на пядень, и так всё ниже и ниже до самого маленького с другого края. Что нам сказать об этом благословенном народе? Из них убиты в эти годы во время походов сотни тысяч, но при всём том они многочис- ленны, как муравьи, и бессчётнее звёзд.
	            </div>
          <div style="position:absolute;top:90px;left:526px;width:417px;height:360px;background:url('img/glava1/44.jpg') no-repeat; background-size:contain;"></div>
	  <div style="text-align:justify;padding-top:476px;" class="col2">
		    Подумаешь, что женщина бывает у них бе- ременна и родит три, четыре раза в год и <span style="letter-spacing:-0.3px;word-spacing:-1px;"> сякий раз  по три, по четыре младенца вме-</span> сте. Но вернее то, как  нам говорили, что в этой благочестивой стране нет ни одной женщины безплодной. Это дело очевидное, для всякого несомненное и испытанное.
          </div>
      </div>
   </div>