<div class="page" id="page108">
<div id="linep1" style="position:absolute;left:546px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
       <div class="text1col">
            <div style="position:absolute;top:87px;left:73px;width:368px;height:88px;background:url('img/glava3/tsar2.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:252px;left:10px;width:109px;height:260px;background:url('img/glava3/v.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:294px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
			Москве постоянно живут консулы евро- пейских королей: английского, австрий- ского, шведского и так далее. Но когда некоторое время назад англичане устро-
                </div>
		или смуту, восстали на своего государя и убили его, царь Алексей очень разгневался, так как они изменили монарху. По этой при- чине он повелел изгнать всех послов из своей страны, пока новый король не при- слал важного представителя, дабы восста- <span style="letter-spacing:-0.3px;word-spacing:-1px;">новить попранные отношения дружбы и рас-</span> положить мысли царя к благосклонности.
            </div>
       </div>
   </div>