<div class="page" id="page57">
    <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-left">
       Вместе с воеводой, после торжественной <span style="letter-spacing:-0.3px;word-spacing:-1px;">встречи, мы вошли в Путивль, куда сразу яви-</span> лись почётные лица города и поднесли на- шему владыке большой дар от имени царя.<br><br>  

Поистине, царство приличествует и подо- бает им, а не нам. Мы были очевидцами, как они, выражая набожность и благоговение, бросались на землю и становились на ко- лени в пыль, будучи одеты в свои дорогие <span style="letter-spacing:-0.3px;word-spacing:-1px;">кафтаны из превосходной ангорской шерсти</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> и сукна с широкими, обильно расшитыми зо-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> лотом воротниками, с драгоценными пугови-</span> цами и красивыми петлицами. Переводчик, через которого мы говорили по-турецки и по-гречески, передавал наши благожелания по-русски. К слову сказать, язык у сербов, болгар, казаков и русских один!         
         <div style="position:absolute;top:652px;left:225px;background: url('images/pages/57/foot1.png') no-repeat; height:26px;width:115px; background-size: contain;"></div>   
         </div>
   </div>