<div class="page" id="page185">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Расчёт конечно понятен, расчёт на идиотизм публики. Но до какой же степени нужно утратить здравый смысл, чтобы соотвествовать этому расчёту! Неужели не очевидно, что если бы сведения, которые мы находим у Олеария, соответствовали реальности, если бы у нас действительно царили праздность и разврат, извращения и повальное пьянство, склоки между ближними и повсеместный обман, наплевательское отношение к труду и благодарение за побои, никакая Российская Империя не была бы возможна?! Она бы издохла ещё в зачаточном состоянии, точнее даже – задолго до этого. 
<br><br>
Потому что освоить и удержать столь обширные земли, сопротивляться непрестанной агрессии извне, выйти на первое место в мире по темпам роста населения и явить подобное число блестящих талантов во всех 
       </div>
   <div style="text-align:justify;padding-top:566px;" class="col2">
       сферах жизни – на такое способен только особый народ, народ в котором дисциплина и мораль, воля и трудолюбие, находятся на беспримерной высоте   Иначе просто не бывает. Для роста требуется подвиг, для подвига – надлежащие условия: духовные, интеллектуальные, физические. И когда-то у нас всё это было. Благодаря архидиакону Павлу, да помилует его Бог, мы 
теперь точно знаем когда! 
       <div style="position:absolute;top:438px;left:626px;background: url('img/orel.png') no-repeat; height:196px;width:218px; background-size: contain;"></div>
   </div>
   </div>  
   </div>