<div class="page" id="page121">
       <div class="text2col">
   <div style="text-align:justify;padding-top:174px;" class="col1">
<div style="position:absolute;left:81px;top:334px;width:864px;height:365px;background:url('img/glava3/121.jpg') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:72px;left:73px;width:524.5px;height:59px;background:url('img/glava3/hrist.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:140px;left:11px;width:109px;height:260px;background:url('img/glava3/n.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
а шестой  неделе Великого поста, рано утром в Вербное воскресенье звонили <span style="letter-spacing:-0.3px;word-spacing:-1px;">во все колокола и совершали торжествен-</span> ное богослужение, ибо данный праздник 
          </div>
       </div>
   <div style="text-align:justify;padding-top:174px;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">у них очень почитается. В этот день в столо-</span> вую привели нищих, увечных, слепых и по- ставили для них стол близ патриарха, кото- рый кормил и поил их с полным уваженим.
   </div>
   </div>  
   </div>