<div class="page" id="page30">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:864px;height:378px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
	   <div style="text-align:justify;padding-top:505px;" class="col1">
		В итоге, царь отправился в поход и Господь <span style="letter-spacing:-0.3px;word-spacing:-1px;">даровал ему победу. Он вернул себе вели-</span> кий Смоленск, а его военачальники силой меча покорили ещё около сорока девяти городов и крепостей, в которых избили, од- <span style="letter-spacing:0.3px;word-spacing:4px;">ному всевышнему Богу ведомо сколько</span>
	   </div>
	   <div style="text-align:justify;padding-top:505px;" class="col2">
		евреев, армян и поляков. С мужчинами они <span style="letter-spacing:0.2px;">расправлялись беспощадно, а женщин и</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> детей брали в плен, уводили с собой. Жесто-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> кость и опустошение при этом не имели пре-</span> дела, ибо русские до крайности ненавидят еретиков и язычников.
	   </div>
       </div>  
   </div>