<div class="page" id="page16">
	   <div class="text2col">
                <div style="position:absolute;top:82px;left:73px;width:152px;height:49px;background:url('images/pages/16/malaya.png') no-repeat; background-size:contain;"></div>                
                <div style="position:absolute;top:130px;left:16px;width:108px;height:260px;z-index:9999;background:url('images/pages/16/r.png') no-repeat; background-size: contain;"></div>
		   <div style="text-align:justify;padding-left:105px;width:398px;padding-top:176px;" class="col1">
			анним субботним утром 10 июня 1654 <span style="letter-spacing:-0.3px;word-spacing:-1px;">года, благополучно миновав десятки горо-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дов, мы наконец-то приблизились к вожде-</span>
		   </div>
		   <div style="text-align:justify;padding-top:176px;" class="col2">
			ленной цели нашего путешествия. Граница русского царства была уже недалеко и нас отделяла от неё только земля казаков.
		   </div>
	   </div>
    <div class="page-slider" style="position:absolute;top:315px;left:81px;width:862px;height:386px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
    <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      <div class="closebut" onclick="javascript:App.hideMap();"></div>
      <iframe src="http://savvy-club.com/book/geo/16.html" width="1024" height="768" />
    </div>
  </div>
   </div>