<div class="page" id="page136">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
   <div style="text-align:justify;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Когда мы спрашивали их через переводчика</span> о каком-нибудь деле, они отвечали: «мы ни- чего не знаем», между тем как сердце их было полно знанием этого. Когда мы пыта- 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">лись заговорить с ними по-турецки, они при-</span> ходили в замешательство и не отвечали<span style="letter-spacing:-0.3px;word-spacing:-1px;"> нам из-за боязни своих хозяев, которые окре-</span> стили их с малых лет и усыновили. Люди, 
достойные веры, сообщали, что никто из принявших крещение по нашему вероиспо- веданию, не бывает столь хорошим право- славным христианином как турки и татары, <span style="letter-spacing:-0.3px;word-spacing:-1px;">ибо эти 
последние прилепляются к право-</span> славию сильно, от всего сердца. Мы видали многих из них, ушедших в монахи и удалив- шихся от мира. Являя подвижничество и до- бродетели, 
они исправно подвизались в по- сте и молитве, а также испрашивали у Бога <span style="letter-spacing:-0.3px;word-spacing:-1px;">милости для своих неверных родителей, ко-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> торые произвели их на свет в прежней вере.</span>
   </div>
   </div>  
   </div>