<div class="page" id="page62">
     <div id="linep1" style="position:absolute;left:551px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:555px;width:469px;height:768px;background:url('img/glava2/62.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="position:absolute;top:85px;left:73px;width:361px;height:98px;background:url('img/glava2/dolg.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:286px;left:10px;width:109px;height:260px;background:url('img/glava2/v.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:357px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
		день нашего въезда в Москву мы пали ниц и возблагодарили Всевышнего Бога,<span style="letter-spacing:0.2px;word-spacing:3px;"> Который даровал нам милость увидеть</span>                    
                </div>
	эту великую столицу, этот новый Рим, город церквей и монастырей, славный во всём мире. С нашей души спала великая забота и мы много радовались. Да и как могло быть иначе, когда стремясь сюда, мы целые три года без десяти дней странствуем среди опасностей и невзгод?          
            </div>
       </div>
   </div>