<div class="page" id="page80">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:418px;height:587px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
    </div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1"></div>
   <div style="text-align:justify;" class="col2">
Наконец-то мы чувствовали облегчение от прежних забот и всех злополучий, хотя про- должали находиться в большом страхе и трепете. Да и как могло быть иначе, если даже представляясь прежде Василию, пра- вителю Молдавии, мы испытывали почти- тельный страх? Теперь же нам предстояло свидание с царём поистине могуществен- ным, слава которого разнеслась повсюду и слуги слуг которого превосходили Василия своим именем и достоинством!<br><br> 

Нам рассказывали, что отец теперяшнего <span style="letter-spacing:-0.3px;word-spacing:-1px;">царя, в Бозе почивший Михаил, когда приез-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> жал к нему посол от турок и на приёме цело-</span> вал полу его одежды, клал, в знак дружбы, свою правую руку на голову посла, и едва только тот уходил, приносили воду и мыло, чтобы царь умыл руки, полагая, что они <span style="letter-spacing:-0.3px;word-spacing:-1px;">осквернились от сделанного прикосновения.</span> 
   </div>
   </div>  
   </div>