<div class="page" id="page157">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">В своей земле цена соболя не велика, но для</span> его перевозки требуется более трех лет и в ряде городов необходимо заплатить боль- <span style="letter-spacing:-0.3px;word-spacing:-1px;">шую пошлину царю. Поскольку это 
благосло-</span> венное животное не водится нигде на свете кроме страны сибирской, все правители мира посылают русскому царю свои сокро- вища, богатства и драгоценности, 
получая от него только меха.<br><br> 

Соболь имеет свойство укреплять спину и <span style="letter-spacing:-0.3px;word-spacing:-1px;">носят его даже летом, ибо он холодит в жар-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> кое время и греет в зимнее. У очень богатых</span> московских купцов соболь находится в 
та- ком изобилии, что некоторые имеют по ты- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сяче, и даже по нескольку тысяч сороков. Од-</span> нако мы видали подобных купцов одетыми в простое, очень бедное платье и 
считали <span style="letter-spacing:-0.3px;word-spacing:-1px;">их не иначе, как за бедняков, едва имеющих</span><span style="word-spacing:1px;"> чем прикрыться. Правда в том, что смирен-</span> 
          </div>
   <div style="text-align:justify;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">ность, которую мы наблюдали в этом народе,</span> очень велика, так что даже государствен- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ных сановников мы встречали одетыми в та-</span> кое платье, которое у нас не согласился 
бы надеть и простолюдин. Они же совсем не знакомы с гордостью и высокомерием.<br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">Там же в Сибири водится и чёрная лисица, из-</span> вестная своей ценностью и достоинством. Но высший сорт её редок и встречается мало. Никто кроме царя не носит шубы из 
этого меха. Его превосходство состоит в <span style="letter-spacing:-0.3px;word-spacing:-1px;">том, что он очень чёрен и блестит ночью. Са-</span> мый высокоценный соболь и эта черная ли- сица никогда не вывозятся в другие страны 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">и никто не смеет торговать ими. Говорят, что</span> в сибирской стране цена каждой лисицы полтораста рублей, а в столице она стоит <span style="letter-spacing:-0.3px;word-spacing:-1px;">вдвое дороже. Для цельного же меха, чтобы</span> 
вышла полная шуба, нужно иметь 30 лисиц.
   </div>
   </div>  
   </div>