<div class="page" id="page184">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Во время отсрочки он послал в Серпухов, лежащий в двух днях пути от Москвы на реке Оке, и велел привезти оттуда целую телегу смешанных всевозможных трав, растущих там в изобилии и весьма пышно. Из них он сделал правителю ванну, и к великому счастью боярина, боль у того прошла, может быть – не столько от ванны, сколько сама по себе. 

После этого боярина ещё сильнее высекли за то, что он, обладая таким искусством, всё-таки отрицал его и не хотел помочь великому князю, но в то же время ему подарили новое платье, 200 рублей… и 18 крестьян в вечное и потомственное владение, со строгим предупреждением, чтобы он не смел мстить жене. Говорят, после этого супруги жили мирно» 
       </div>
   <div style="text-align:justify;padding-top:566px;" class="col2">
       В общем, комментарии, надо полагать, излишни. Трудно сказать, что присуще автору в большей степени – сознательная клевета или помрачение рассудка. Бог ему судья. Но главные претензии даже не к писателю. В конце концов он всего лишь немец, с привычным комплексом презрительного отношения к России. К тому же, может статься, что и немец он не вполне адекватный.

Нет, главные претензии не к нему. В первую очередь они должны быть адресованы тем, кто возвёл и продолжает возводить книгу подобного содержания в ранг величайшего произведения по истории России XVII века, к тем, кто занимаясь популяризацией этого непотребства на территории нашей страны, формирует в русском человеке комплекс негативного самовосприятия.
   </div>
   </div>  
   </div>