<div class="page" id="page18">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:863px;height:405px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">
	   <div style="text-align:justify;padding-top:536px;" class="col1">
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">Здесь мы впервые вступили во дни борений,</span> пота и труда, ибо во всех казацких церквах вовсе нет стасидиев, даже для архиереев. От начала службы и до конца люди стоят <span style="letter-spacing:-0.2px;word-spacing:-1px;">твёрдо и неподвижно, словно камни, беспре-</span>
	   </div>
	   <div style="text-align:justify;padding-top:536px;" class="col2">
		станно кладут земные поклоны и, как бы из одних уст, поют молитвы. Самое удивитель- ное, что во всём этом принимают участие и малые дети, чьё терпение и усердие к вере приводили нас в изумление.
	   </div>
       </div>  
   </div>