<div class="page" id="page21">
     <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:454px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">	   
             <div style="position:absolute;top:87px;left:73px;width:295px;height:98px;background:url('images/sections/3/pages/21/istoria.png') no-repeat; background-size:contain;"></div>
             <div style="position:absolute;top:190px;left:17px;width:109px;height:260px;background:url('images/sections/3/pages/21/p.png') no-repeat; background-size: contain;"></div>
             <div style="text-align:justify;padding-top:206px" class="col1"> 
               <div style="padding-left:27px;text-align:justify;">
		очему я называю поляков проклятыми? Потому что они, надеясь уничтожить само имя православных, не довольству- ясь десятиной со своих братьев во Хри- <span style="letter-spacing:0.2px;word-spacing:2px;">сте, держали их в рабстве, отдавали во</span>
               </div>
власть жестоких евреев, препятствовали <span style="letter-spacing:-0.3px;word-spacing:-1px;">строить храмы, удаляли священников, знаю-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> щих тайны веры, и даже совершали насилие</span> над их непорочными жёнами и дочерьми.<br><br> 
		Казаки должны были непрестанно слушать <span style="letter-spacing:-0.3px;word-spacing:-1px;">обращённые к ним речи католиков-иезуитов,</span> которые стремились всех православных ис- коренить, либо сделать последователями папы. 40 лет тому назад поляки дошли до <span style="letter-spacing:0.3px;word-spacing:5px;">того, что разрушили все православные</span>
	   </div>
           <div style="text-align:justify;padding-top:566px" class="col2">
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">церкви и довели своё безбожие до такой сте-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> пени, что сожгли митрополита земли каза-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ков вместе с одиннадцатью его епископами,</span> изжарив их в огне на железных прутьях. 
           </div>
       </div>  
   </div>