<div class="page" id="page85">
 <div id="linep1" style="position:absolute;left:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava3/85.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="float:left;padding-left:81px;padding-top:87px;padding-right: 17px;">
        		Во-вторых, когда иерусалимский гость под- <span style="letter-spacing:-0.3px;word-spacing:-1px;">носил подарки, царь взял от него только свя-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> тыни. Остальные же вещи принимали служи-</span> тели. В-третьих, простившись с Паисием, царь не провожал его, как нашего владыку, <span style="letter-spacing:0.3px;word-spacing:1px;">поддержвая под руку, почти до дверей. И</span> в-четвёртых, глава государства сразу отдал распоряжение доставить нас к московскому патриарху для свидания с ним, хотя этой <span style="letter-spacing:-0.3px;word-spacing:-1px;">встречи принято ожидать не менее 3-х дней.</span><br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">Знай, что как франкские народы питют боль-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> шое почтение к папе, так и все русские выра-</span> жают благодарения, хвалы и благожелания патриарху, имя которого не сходит у них с <span style="letter-spacing:-0.3px;word-spacing:-1px;">языка, так что они, кажется, любят его как са-</span> мого Христа. Что касается их любви к царю, то ум не может постичь её: от взрослого до малого она всё больше и больше.          
            </div>
       </div>
   </div>