<div class="page" id="page119">
    <div class="page-slider" style="position:absolute;left:551px;width:472px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
    <div style="position:absolute;top:87px;left:73px;width:150px;height:27.5px;background:url('images/pages/119/vel.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:170px;left:4px;width:109px;height:260px;background:url('images/pages/119/v.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:182px;">
                <div style="padding-left:27px;text-align:justify;">
                    течение первых трёх дней Великого <a class="article-link">поста</a>, с раннего утра чистого понедель- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ника и до среды, не бывает у них ни купли,</span> ни продажи, не открываются никакие лавки, тем более те, в которых продаются                    
                </div>
		 съестные припасы. По обычаю эти три дня царь и царица постятся особенно усердно, посещая службы днём и ночью, предаваясь молитвенному бдению, совершая поклоны и соблюдая строгое воздержание.<br><br> 

<span style="letter-spacing:0.2px;word-spacing:1px;">Отстояв обедню в среду, царь разговелся</span> сладким компотом. Затем он снова по- <span style="letter-spacing:-0.3px;word-spacing:-1px;">стился до позднего утра субботы, когда по-</span> сле утренней службы приобщился святых Таин и скромно позавтракал.         
            </div>
    <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__comment-container">
         <div class="commentbk" data-sound="http://savvy-club.com/book/comment/119.mp3">
		<img src="http://savvy-club.com/book/comment/20.png" />
	 </div>
    </div>
  </div>
   </div>