<div class="page" id="page147">
<div class="page-slider" style="position:absolute;left:552px;width:472px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
    <div style="position:absolute;top:76px;left:73px;width:195px;height:59px;background:url('images/pages/147/pozh.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:125px;left:17px;width:109px;height:260px;background:url('images/pages/147/d.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:145px;">
                <div style="padding-left:27px;text-align:justify;">
ля службы при дворе назначен великий субаши, который днём и ночью оберегает резиденцию царя от пожара. А в городе поставлен другой субаши, непрестано <span style="word-spacing:3px;">объезжающий 
окрестности из опасения</span>                    
                </div>
<span style="letter-spacing:-0.3px;word-spacing:-1px;">возгараний. Эти двое субашей – родные бра-</span> тья, родом турки, дети военначальника из Румелии. Впоследствии мы близко познако- мились с ними и у нас возникла большая 
дружба. Они рассказывали, что много лет назад отправились со своим отцом в поход на Багдад. Когда войско их было разбито и родитель погиб, персы взяли их в плен. Не- 
престанно ухищряясь, они сумели бежать и после долгих скитаний оказались в Молда- вии, стране где братьев окрестил в Бозе по- чивший иерусалимский патриарх Феофан, 
согласно их просьбе и желанию.          
            </div>
   </div>