<div class="page" id="page76">
             <div class="text2col">
   <div style="text-align:justify;" class="col1">
Что касается нашего положения, то мы сильно скорбели по той причине, что время тянулось без пользы. Мы надеялись, что <span style="letter-spacing:-0.3px;word-spacing:-1px;">царь возвратится из похода к празднику свя-</span> тителя Николая, о чём прошли слухи, но он <span style="letter-spacing:-0.3px;word-spacing:-1px;">не приехал. Говорили также, что он прибудет</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> к Рождеству, а потом к Богоявлению, но ника-</span> ких вестей не было.<br><br>

Мы находились в большом недоумении и <span style="letter-spacing:-0.3px;word-spacing:-1px;">беспокойстве, а особливо в сильном огорче-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> нии от того, что никто не хотел поведать нам</span> о местонахождении государя и положении его дел, ибо все русские, от больших до ма- лых, ни одному чужеземцу ни о каком пред- мете ничего не сообщают, ни хорошого, ни дурного. Поэтому, когда наш владыка спра- <span style="letter-spacing:-0.3px;word-spacing:-1px;">шивал о делах царя, никто от вельмож и свя-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> щенников до простолюдинов ничего не гово-</span> рил, кроме слова «не знаем», даже дети.
   </div>
   <div style="text-align:justify;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Какая это великая строгость! В устах разных</span> людей один язык. Как мы узнали впослед- <span style="letter-spacing:0.2px;word-spacing:1px;">ствии, со всех берётся клятва на кресте</span> и Евангелии, что не откроют чужеземцам своих дел, но если услышат какое-либо из- вестие, возбуждающее подозрение, неот- ложно донесут о сем царю.
<div style="width:418px;height:361px;margin-top:25px;background:url('img/glava2/76.jpg') no-repeat; background-size:contain;"></div>
   </div>
   </div>
</div>