<div class="page" id="page3">
  <div style="position:absolute;top:82px;left:73px;width:137px;height:59px;background:url('images/pages/3/pred.png') no-repeat; background-size:contain;"></div>
  <div style="position:absolute;top:201px;left:17px;width:69px;height:226px;background:url('images/pages/3/v.png') no-repeat; background-size: contain;"></div>
  <div class="text1col-left" style="padding-top:204px;">
    <div style="padding-left:17px;">
      середине &nbsp;XVII&nbsp; века некий арабский &nbsp;свя- <span
      style="letter-spacing: 0.7px;">щенник по имени Макарий избирается</span>
      патриархом <a class="article-link">Антиохийской</a>
      Православной <span style="letter-spacing: 0.7px;">Церкви. Приняв сан, он обнаруживает,</span> <span
      style="letter-spacing: 0.5px;">что у его епархии накопились огромные</span>
    </div>
    <span
      style="letter-spacing: 0.5px;">долги, справиться с которыми ему не под</span> <span
    style="word-spacing:-2px;">силу. Стараясь найти выход из тяжелой ситу-</span>
    ации, он решается на опасное
    путешествие в &nbsp;Россию, чтобы лично обратиться за помо- щью к
    единственному православному царю мира - &nbsp;Алексею
    &nbsp;Михайловичу &nbsp;Романову. &nbsp;В дороге &nbsp;Макария сопровождает
    родной сын архидиакон &nbsp;Павел,
    &nbsp;который по просьбе од- ного из друзей ведёт тщательное описание
    многолетнего путешествия своего отца.
  </div>
  <div class="page-slider" style="position:absolute;left:551px;width:472px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
    <div class="page-slider__container"></div>
  </div>

  <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__map-container">
      <img src="http://savvy-club.com/book/comment/3.png"/>
    </div>
  </div>
  <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      <div class="closebut" onclick="javascript:App.hideMap();"></div>
      <iframe src="http://savvy-club.com/book/geo/3-1.html" width="1024"
              height="768"/>
    </div>
  </div>

</div>

