<div class="page" id="page41">
    <div class="page-slider" style="position:absolute;left:525px;top:87px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
            <div style="position:absolute;top:77px;left:73px;width:299px;height:98px;background:url('images/sections/3/pages/41/nabozhnost.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:176px;left:11px;width:109px;height:260px;background:url('images/sections/3/pages/41/o.png') no-repeat; background-size: contain;"></div>
            <div style="text-align:justify;padding-top:208px;" class="col1">
                <div style="padding-left:10px;text-align:justify;">
			<span style="letter-spacing:-0.3px;word-spacing:-1px;">какая это благословенная страна! В ней нет</span> <span style="letter-spacing:-0.3px;word-spacing:-1px;">и не знают ни воров, ни грабителей. Не успе-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ешь пройти расстояние равное трём часам,</span> как встретишь по дороге пять, восемь или десять селений. Так на больших дорогах, а                      
                </div>
		что справа и слева от них, то бессчётно.<br><br> 
		Всякое селение в земле казаков обилует <span style="letter-spacing:-0.3px;word-spacing:-1px;">жителями. В особенности умы наши поража-</span> лись при виде огромного множества детей <span style="letter-spacing:-0.3px;word-spacing:-1px;">всех возрастов, которые сыпались как песок</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> морской. Каждый город, должно быть, имеет</span> до 40, 50 и более тысяч душ, но дети много- численнее травы и все умеют читать, даже <span style="letter-spacing:-0.3px;word-spacing:-1px;">сироты.  Имена у казаков, мужчин и женщин,</span>  даются в честь самых уважаемых святых.            
            </div>
       </div>
</div>