<div class="page" id="page27">
    <div class="page-slider" style="position:absolute;top:235px;left:81px;width:864px;height:466px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
	   <div style="text-align:justify;" class="col1">
		Предварительно Алексей Михайлович со- брал знатных вельмож своего государства, всех купцов и богачей столицы, составив большой совет. <span style="font-style:italic;">«Я жертвую собою,</span> — сказал
	   </div>
	   <div style="text-align:justify;" class="col2">
		он, выступая на нём, — <span style="font-style:italic;">из любви к нашей <span style="font-style:italic;letter-spacing:-0.3px;word-spacing:-1px;">вере, ради своих братьев во Христе казаков,</span><span style="font-style:italic;letter-spacing:-0.3px;word-spacing:-1px;"> и для избавления оных от порабощения вра-</span><span style="font-style:italic;"> гам Руси – ляхам выступаю в поход».</span>
	   </div>
       </div>  
   </div>