<div class="page" id="page129">
    <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
      <div class="text1col-left">
Значение «войти во имя царя» состоит в том, что въезжающий остаётся в России, где всю свою жизнь находится на попечении го- сударя и постоянно молится о нем. Таких 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">людей называют молельщиками. Они уже ни-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> когда не могут выехать из страны, это стано-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> вится невозможным. Царь и придворные лю-</span> бят тех, кто так говорит и держат в 
большом почёте. Однако, после произнесённых слов, для оставшихся начинаются тяжкие будни, поскольку жизнь в России очень стеснена и никто из чужестранцев не в 
состоянии пе- реносить её стеснений. Человек видит себя <span style="letter-spacing:-0.3px;word-spacing:-1px;">постоянно как бы в тюрьме, ибо если кто про-</span> ступится в чём-либо или напьётся пьян, его подвергают всяческим 
унижениям, а под ко- нец заточению. Порядки здесь суровые, по- этому даже все купцы, хотя бы кто из них был славой своего века, в том числе и пер- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сидские, живут в 
страхе Божьем и смирении.</span>      
            </div>
   </div>