<div class="page" id="page58">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:587px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Знай, что Путивль город немалый. Крепость <span style="letter-spacing:-0.3px;word-spacing:-2px;">его, большая и великолепная, стоит наверху</span> высокой горы, неодолима и крепка в выс- <span style="letter-spacing:-0.3px;word-spacing:-1px;">шей степени, вся наполнена жителями и до-</span> мами. В земле казаков подобной ей мы ни <span style="letter-spacing:-0.3px;word-spacing:-1px;">разу не видели, и не мудрено – крепости эти</span> царские: с прочными башнями, двойными стенами и глубокими рвами. Внутри этой твердыни находится другая крепость, еще сильнее и неодолимее, снабжённая множе- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ством пушек, расположеных в несколько ря-</span> дов. Также в крепости устроены 4 храма.<br><br> 

<span style="letter-spacing:-0.3px;word-spacing:-1px;">По причине её неприступности, ляхи, прихо-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дившие в прежнее время в числе сорока ты-</span> сяч и осаждавшие Путивль в течении 14-ти <span style="letter-spacing:-0.3px;word-spacing:-1px;">месяцев, употребляя всевозможные ухищре-</span> ния, были совершенно не в состоянии взять его и вернулись разбитые. О, как же велико теперь их сокрушение о нём!
   </div>
   <div style="text-align:justify;" class="col2">
   </div>
   </div> 
    <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      <div class="closebut" onclick="javascript:App.hideMap();"></div>
      <iframe src="http://savvy-club.com/book/geo/58.html" width="1024" height="768" />
    </div>
  </div>
   </div>