<div class="page" id="page161">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:396px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
<div style="position:absolute;top:76px;left:73px;width:307px;height:59px;background:url('images/pages/161/uvi.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:155px;left:10px;width:109px;height:260px;background:url('images/pages/161/m.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:176px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
ного желал я рассмотреть русскую сто- <span style="letter-spacing:-0.3px;word-spacing:-1px;">лицу, дабы составить точное описание го-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> рода и его стен. Но всё это время бросать</span> взоры по сторонам я мог только украд- <span style="letter-spacing:0.3px;word-spacing:3px;">кой, ибо 
стрельцы, стоящие у каждых</span>                   
                </div>
ворот, как только заметят, что кто-нибудь <span style="letter-spacing:-0.3px;word-spacing:-1px;">пристально смотрит на стену или пушку, ли-</span> шают его жизни, хотя бы он происходил из своего же народа.<br><br> 

<span style="letter-spacing:-0.3px;word-spacing:-1px;">На этой неделе схватили одного из таких, за-</span> метив, что он ходит и рассматривает город- ские стены. Его раздели догола и обвели по городу со связанными руками, причём 
за ним шёл палач с кнутом из бычачьих жил, бил его до полусмерти, непрестанно крича, что это шпион и что таково ему возмездие. 
   </div>
   <div style="text-align:justify;padding-top:504px;" class="col2">
Мы видели его спину и плечи – зрелище, от которого сжимается сердце, ибо тело было изорвано и отваливалось клочьями, а кровь текла рекой. Под конец он лишился жизни, так как после истязания его бросили голого в тюрьму, где он замёрз и умер.
   </div>
   </div>  
   </div>
