<div class="page" id="page100">
    <div class="page-slider" style="position:absolute;left:81px;top:362px;width:864px;height:337px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Перенимая подобные действия, мы осо- бенно удивлялись не на взрослых, а на ма- леньких. Как умеют они своими детскими пальчиками творить такое крестное зна- мение и так кланяться присутствующим? Где находят терпение совершать долгие службы и молитвословия. Поистине все они вскормлены молоком веры и благочестия. 
          </div>
   <div style="text-align:justify;" class="col2">
Мы же не могли креститься подобно им, за что они насмехались над нами, говоря: «по- чему вы проводите каракули на груди, а не <span style="letter-spacing:-0.3px;word-spacing:-1px;">ударяете пальцами о чело и плечи, как мы?»</span> Мы радовались на них. Какая  это благосло- венная страна, чисто православная! Ни ев- реи, ни армяне, ни другие иноверцы в ней не обитают и им неизвестны.
   </div>
   </div>  
   </div>