<div class="page" id="page81">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:484px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Нам рассказывали также, что в старину, когда к русским приезжал архиерей или па- триарх из греческих земель, они не допу- <span style="letter-spacing:-0.3px;word-spacing:-1px;">скали его к служению в своих церквах, пола-</span> гая, что он осквернился от турок. Когда же приезжали греческие купцы, тех и вовсе не пускали в церкви, дабы они не осквернили их, будучи сами осквернёнными.<br><br> 

Ежели кто из греков оставался во имя царя, женился и делался драгоманом, то священ- ники ставили его в течение 40 дней вне <span style="letter-spacing:0.3px;">храма, в положении оглашеннаго, затем</span> его помазывали миром и по прочтении мо- литв вводили в церковь, полагая, что он <span style="letter-spacing:-0.3px;word-spacing:-1px;">очистился. Подобный порядок вещей сохра-</span> няется и по сей день. Поэтому когда прибы- вает посол от турок или от франков, его вводят в приёмную палату не по лестнице <span style="letter-spacing:0.3px;word-spacing:2px;">церкви Благовещения, а через наружную</span> 
          </div>
   <div style="text-align:justify;padding-top:598px;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">дверь, что на середине дворцовой площади,</span> ибо в деле веры они держат себя от ино- странцев подвижен. 
   </div>
   </div>  
   </div>