<div class="page" id="page174">
    <div class="page-slider" style="position:absolute;left:68px;top:270px;width:385px;height:234px;">
        <div class="page-slider__container"></div>
</div>
    <div class="page-slider" style="position:absolute;left:569px;top:436px;width:385px;height:234px;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col_2">
	   <div style="text-align:justify;" class="col1">
           <div style="position:absolute;top:135px;left:17px;width:109px;height:260px;background:url('images/pages/174/ch.png') no-repeat; background-size: contain;"></div>
           <div style="padding-left:60px;text-align:justify;">
               то касается ума, русские... отличаются смышлёностью и хитростью, но пользуются они умом своим не для того, чтобы стремиться к добродетели и похвальной жизни, но чтобы искать выгод и угождать стра-</div>
           стям. Поэтому, как говорит датский посол Иаков, они люди «хитрые, упорные, необузданные, недружелюбные и извращённые–чтобы не сказать–бесстыдные, склонные ко всякому злу, ставящие силу на место права и отрешившиеся, верьте мне, от всяких добродетелей». 
          
           <div style="position:absolute;top:135px;left:17px;width:109px;height:260px;background:url('images/pages/174/k.png') no-repeat; background-size: contain;"></div>
           <div style="padding-left:60px;text-align:justify;">
               огда наблюдаешь русских в отношении их душевных качеств, нравов и образа жизни, то их, без сомнения, не можешь не причислить к варварам… Натура их такова, как умный Аристотель говорит о варварах - «они не мо</div>
           гут и не должны жить в лучших условиях, как в рабстве». К ним подходит и то, что сказано о малоазиатском народе, называемом ионянами — «плохи на свободе, хороши в рабстве».
	   </div>
	   <div style="text-align:justify;" class="col2">
           <div style="position:absolute;top:135px;left:17px;width:109px;height:260px;background:url('images/pages/174/r.png') no-repeat; background-size: contain;"></div>
           <div style="padding-left:60px;text-align:justify;">
               абами и крепостными являются все они. Обычай и нрав их таков, что перед иным человеком они унижаются, проявляют свою рабскую душу, земно кланяются знатным людям, низко нагибая голову - вплоть до са-</div>
           мой земли и бросаясь даже к ногам их… Подобно тому, как все подданные высокого и низкого звания называются и должны считаться царскими “холопами”, то есть рабами, точно также у вельмож и знатных людей имеются свои рабы и крепостные работники... 
           
           <div style="position:absolute;top:135px;left:17px;width:109px;height:260px;background:url('images/pages/174/v.png') no-repeat; background-size: contain;"></div>
           <div style="padding-left:60px;text-align:justify;">
               се они, в особенности же те, кто счастьем и богатством, должностями или почестями возвышаются над положением простонародья, очень высокомерны и горды, что... открыто показывают своим выражением лица,</div>
           своими словами и поступками... Если они предлагают дружбу, то делают это не из любви к добродетели, но ради выгоды и пользы.
	   </div>
       </div>  
   </div>