<div class="page" id="page93">
    <div class="page-slider" style="position:absolute;top:248px;left:525px;width:418px;height:420px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">На приёме патриарх Никон сообщил нашему</span> владыке, что кругом города Казани живёт <span style="letter-spacing:-0.3px;word-spacing:-1px;">десять тысяч мусульман, которые платят на-</span> лог и всякие поборы. Он рассказывал, что <span style="letter-spacing:-0.3px;word-spacing:-1px;">русские считают их нечистыми и не сообща-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ются с ними. Ежели кто из тех жителей окре-</span> стится, то уже не смеет ходить к родным, а если и пойдет по необходимости, то не ест <span style="letter-spacing:-0.3px;word-spacing:-1px;">с ними за одним столом, из опасения возбу-</span> дить злобу и подвергнуться наказанию.<br><br> 

После крещения новообращённые снимают <span style="letter-spacing:0.3px;word-spacing:1px;">старое платье и надевают новое, даже</span> новый колпак на голову и новую обувь на <span style="letter-spacing:-0.3px;word-spacing:-1px;">ноги. Если жена окрестившегося также окре-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> стится вместе с ним, то останется его женой,</span> а если не пожелает, то ему не дозволяют быть рядом с нею, но разводят и женят на христианке. Крестившийся получает от ще- <span style="letter-spacing:0.4px;word-spacing:2px;">дрот царя одежду, сукно, много динаров,</span> 
          </div>
   <div style="text-align:justify;" class="col2">
и один из государственных сановников бы- вает его крестным отцом. Они твёрдо верят, что именно такой отец избавляет бывшего иноверца от мрака неведения и руководит к истинному свету. 
   </div>
   </div>  
   </div>