<div class="page" id="page159">
    <div style="position:absolute;top:76px;left:73px;width:283px;height:59px;background:url('images/sections/6/pages/159/der.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:194px;left:9px;width:109px;height:260px;background:url('images/sections/6/pages/159/v.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:206px;">
                <div style="padding-left:27px;text-align:justify;">
о вторник 12 июня патриарх и царица при- слали нам на блюде свежих огурцов – это вторые созревшие плоды после редиски. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Мы видели, что огородники в великий чет-</span> верг 
сеют огуречные семена и полагают                    
                </div>
много труда на уход за ними, прикрывая их во время холода и открывая при солнце. Каждый спешит вырастить свои огурцы как можно раньше и представить их царю пер- вым. 
Кто оказывается быстрее остальных, тому покровительствует Бог, ибо Алексей Михайлович, равно как и его предшествен- ники, имеют обычай наделять такого чело- века 
большой милостью: ему даётся во вла- дение деревня. Так бывает ежегодно.          
            </div>
           <div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
    </div>
  </div>
   </div>