<div class="page" id="page101">
 <div class="page-slider" style="position:absolute;left:0px;width:447px;height:768px;padding: 0 4px 0 4px;border-right: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-right">
Иконостасы в русских храмах удивительно <span style="letter-spacing:-0.3px;word-spacing:-1px;">тонкого письма, в окладах из серебра чекан-</span> ной работы с позолотой. Большей частью иконы бывают древние и ветхие, ибо в этой стране питают большую веру к старым иконам. В каждой церкви непременно име- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ется творящий великие чудеса образ Влады-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> чицы, в чём мы убедились воочию, став оче-</span> видцами несомненных доказательств.<br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">А вот как они входят в церковь: сначала каж-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дый делает несколько земных поклонов, за-</span> тем кланяется присутствующим, хотя бы их было много, на восток и запад, север и юг. Соблюдают такой обычай и дети, совершая земные поклоны ещё с большей ловкостью чем мужчины. Точно также и когда входят в <span style="letter-spacing:-0.3px;word-spacing:-1px;">дом — прежде всего останавливаются перед</span> иконостасом, творят крестное знамение и затем кланяются присутствующим.  
   </div>
   </div>  