<div class="page" id="page121">
    <div class="page-slider" style="position:absolute;left:81px;top:87px;width:864px;height:394px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:534px;" class="col1">
Когда Никон поднялся, ему поднесли таз и кувшин, после чего он обходил несчастных, умывая, вытирая и лобзая их ноги, всем по порядку, причём раздавал щедрую мило- <span style="letter-spacing:0.3px;word-spacing:3px;">стыню каждому до последнего. Глядя на</span> 
          </div>
   <div style="text-align:justify;padding-top:534px;" class="col2">
это мы чрезвычайно дивились и были тро- <span style="letter-spacing:-0.3px;word-spacing:-1px;">нуты до слез. Тот же христианский обычай — </span>милостиво прислуживать перед калеками пищей и питьём во дни особых праздников, исполняет в этой стране и сам царь. 
   </div>
   </div>  
   </div>