<div class="page" id="page181">
    <div class="page-slider" style="position:absolute;top:403px;left:525px;width:406px;height:260px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Если обратиться к работе Павла Алеппского, то, передавая впечатления о своём путешествии, он не оставляет сомнений в том, что любого приезжего иностранца в России ожидал исключительно строгий надзор, а также крайняя ограниченность в свободном перемещении и контактах с местными жителями. Не отрицает этого и Адам Олеарий. Он соглашается, что ворота посольских дворов охраняет стража, зорко следящая «за тем, чтобы никто из посольской свиты не выходил, а из посторонних людей не входил». Он даже указывает, что гостей охраняют словно арестованных.<br><br>

Но в таком случае возникает резонный вопрос – если всех прибывших иноземцев держали на коротком поводке и охраняли как арестованных, откуда же у нашего героя имеются такие подробные сведения о
       </div>
   <div style="text-align:justify;padding-top:566px;" class="col2">
       жизни русских людей, включая даже интимные стороны межполовых отношений? А очень просто, оказывается. Автор предлагает ответ, недоумения скептиков рассеивающий. Всё-таки недаром же его называют человеком «выдающейся эрудиции».   «Московские жители, сообщает он, — говорили нам, что мы… были первыми лицами, имевшими право свободно выходить». Вот и всё. Поди, проверь. Никому нельзя, а нам м 
   </div>
   </div>  
   </div>