<div class="page" id="page133">
<div style="position:absolute;left:81px;top:87px;width:864px;height:401px;background:url('img/glava4/133.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:538px;" class="col1">
Русская торговля – это торговля сытых лю- <span style="letter-spacing:-0.3px;word-spacing:-1px;">дей, ибо с них не взимаются ни подати, ни по-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> боры. Когда мы желали купить некую вещь и</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> давали цену, которую назначил хозяин, 
слу-</span><span style="letter-spacing:0.2px;word-spacing:1px;"> чалось он делал скидку, а если мы начали</span>
          </div>
   <div style="text-align:justify;padding-top:538px" class="col2">
торговаться с ним и предлагали меньше назначенной цены, он сердился и не усту- <span style="letter-spacing:-0.3px;word-spacing:-1px;">пал даже за ту сумму, которую просил изна-</span> чально. Если же мы возвращались к 
нему снова, то бывало еще хуже.
   </div>
   </div>  
   </div>