<div class="page" id="page126">
 <div id="linep1" style="position:absolute;left:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava4/126.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="float:left;padding-left:81px;padding-top:87px;padding-right: 17px;">
Значение «войти во имя царя» состоит в том, что въезжающий остаётся в России, где всю свою жизнь находится на попечении го- сударя и постоянно молится о нем. Таких 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">людей называют молельщиками. Они уже ни-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> когда не могут выехать из страны, это стано-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> вится невозможным. Царь и придворные лю-</span> бят тех, кто так говорит и держат в 
большом почёте. Однако, после произнесённых слов, для оставшихся начинаются тяжкие будни, поскольку жизнь в России очень стеснена и никто из чужестранцев не в 
состоянии пе- реносить её стеснений. Человек видит себя <span style="letter-spacing:-0.3px;word-spacing:-1px;">постоянно как бы в тюрьме, ибо если кто про-</span> ступится в чём-либо или напьётся пьян, его подвергают всяческим 
унижениям, а под ко- нец заточению. Порядки здесь суровые, по- этому даже все купцы, хотя бы кто из них был славой своего века, в том числе и пер- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сидские, живут в 
страхе Божьем и смирении.</span>      
            </div>
       </div>
   </div>