<div class="page" id="page149">
    <div class="page-slider" style="position:absolute;left:81px;top:87px;width:864px;height:436px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:567px;" class="col1">
Вместе с воеводой в Москву с казённой по- датью прибыли несколько должностных лиц из почётных жителей той страны. Они <span style="word-spacing:1px;">сказали, что расстояние, которое отделяет</span> 
          </div>
   <div style="text-align:justify;padding-top:567px;" class="col2">
их землю от столицы составляет сорок ты- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сяч вёрст. Когда присутствующие услышали</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> эту цифру, то были весьма удивлены, ибо ка-</span> ждая тысяча вёрст требует месяца пути. 
   </div>
   </div>  
   </div>