<div class="page" id="page159">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Во время одного из приёмов патриарх Ни- кон послал за начальниками этого народа, <span style="letter-spacing:-0.3px;word-spacing:-1px;">коих было около тридцати. Войдя, они отбро-</span> сили назад свои капюшоны, обнажили го- 
ловы и почтительно поклонились. Патриарх стал расспрашивать об их образе жизни и в числе прочего осведомился правда ли, что они едят человечье мясо? Пришедшие за- 
смеялись и сказали: «Мы едим своих собак, так почему же нам не есть и людей?»<br><br> 

Тогда патриарх обратился к ним снова: «У <span style="letter-spacing:-0.3px;word-spacing:-1px;">меня находится человек, достойный смерти.</span> Я готов послать привести его к вам, чтобы вы его съели». «Владыка наш! – принялись 
усилинно просить собачелицые, сколько ни есть у тебя людей, достойных смерти, не <span style="letter-spacing:-0.3px;word-spacing:-1px;">беспокойся наказывать их сам за преступле-</span> ние, но отдавай нам на съедение; этим ты 
окажешь нам большое благодеяние». 
          </div>
   <div style="text-align:justify;" class="col2"></div>
   </div>  
   </div>