<div class="page" id="page94">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
В Москве проживает немало купцов из нем- цев, шведов и англичан, с семействами и детьми. Прежде они обитали внутри сто- <span style="letter-spacing:-0.3px;word-spacing:-2px;">лицы, но нынешний патриарх, ненавидящий</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> еретиков до крайней степени, выселил их по</span> следующему поводу. Как-то идя по городу с <span style="letter-spacing:-0.3px;word-spacing:-1px;">крестным ходом он заметил, что некие люди</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> не сняли своих колпаков и не осеняли перед</span> иконами чела крестным знамением.<br><br> 

Удостоверившись, что это франки, переод- <span style="letter-spacing:-0.3px;word-spacing:-1px;">тые в русское платье, он заставил царя высе-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> лить их за пределы столицы. Остаться полу-</span> чили право лишь те, которые крестились. Все церкви, принадлежавшие издревле этим иноземцам, разрушили вместе с му- сульманскими мечетями и запретили стро- ить новые. В особенности это коснулось ар- мян, бывших жителей Астрахани, которых также поселили за городом. 
          </div>
   <div style="text-align:justify;" class="col2">
Рассказывают, что был один очень важный армянский купец. Когда вышел царский указ от патриарха, чтобы армяне, сняв рус- ское платье, носили своё и сбрили бороды по своему обыкновению, этот купец, имев- ший длинную, весьма большую седую бо- <span style="letter-spacing:-0.3px;word-spacing:-1px;">роду, постыдился её сбрить и послал патри-</span> арху пятьдесят тысяч динаров, упрашивая оставить бороду, дабы на закате жизни ему не было стыдно и зазорно перед людьми.<br><br> 

Но патриарх отказал, поскольку в деньгах он не нуждается. В ответ купцу он велел сказать: «если этот человек крестится, то станет как всякий из нас». Но тот не поже- лал, и тогда выгнали всех до одного армян. У них были веселящие сердце, огромные каменные палаты, подобные царским, кото- рые они, принужденные к тому патриархом, должны были отныне уступить русским.  
   </div>
   </div>  
   </div>