<div class="page" id="page8">
    <div class="page__column page__column_type_content">
        <div
                style="position:absolute;top:82px;left:73px;width:137px;height:59px;background:url('images/sections/2/pages/8/vstup.png') no-repeat; background-size:contain;"></div>
        <div
                style="position:absolute;top:190px;left:13px;width:109px;height:260px;background:url('images/sections/2/pages/8/ya.png') no-repeat; background-size: contain;"></div>
        <div style="float:left;padding-left:81px;padding-top:244px;padding-right: 17px;text-align:justify;">
            <div style="padding-left:28px;text-align:justify;">
                убогий раб по имени Павел, более всех нуждающийся в милости Господа моего, архидиакон, православной
                веры, родом
                <span style="letter-spacing:0.3px;word-spacing:2px;">из Алеппо, являюсь родным сыном все-</span>
            </div>
            <span style="word-spacing:-1px;">честнаго и святейшего отца Макария, патри-</span> арха Антиохийского. С
            самых
            первых дней я воспитан в тесной привязанности к нему и ничьё общество не было для меня сладост- нее его
            общества.
            Я непрестанно питался пищей его оживляющих слов и утолял жа- жду водой его освежающих наставлений,
            подчиняясь ему
            во всём и следуя за ним безотлучно, где бы он ни оказался.
        </div>
    </div>
    <div class="page__separator"></div>
    <div class="page__column">
        <div style="width: 100%;height: 100%;background:url('images/sections/2/pages/8/8.jpg') 50% 0 no-repeat; background-size:contain;"></div>
    </div>


</div>
