<div class="page" id="page130">
<div style="position:absolute;left:81px;top:87px;width:864px;height:336px;background:url('img/glava4/130.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:477px;" class="col1">
Все угодья церквей и монастырей состоят во власти государя. Apxиереи не могут рас- поряжаться ими, но царь посылает от себя людей, которые и заведуют, в качестве над- 
смотрщиков, всеми доходами и угодьями. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Настоятели и монахи вправе распоряжаться</span> только собственным имуществом. 
          </div>
   <div style="text-align:justify;padding-top:477px;" class="col2">
Что же касается прибыли обителей, она складывается в казнохранилище на нужды царя в случае военного похода. До этого момента, в мирное время, настоятель мона- стыря не 
имеет права использовать без разрешения государя ни одного рубля, ни одной копейки. 
   </div>
   </div>  
   </div>