<div class="page" id="page18">
       <div class="text2col">
	   <div style="text-align:justify;" class="col1">
		Знай, что на дверях каждой из казацких церквей бывает железная цепь, вроде той, которую налагают на шею пленникам. Мы спросили о ней и нам сказали, что всякому, кто приходит в церковь на рассвете после звона, вешают эту цепь на шею и целый день он остаётся распятым на дверном от- воре, не имея возможности шевельнуться. Это его эпитимья.<br><br>
		Начиная с города Рашкова и по всей земле <span style="letter-spacing:-0.3px;word-spacing:-1px;">казаков, то есть русских, мы заметили возбу-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дившую наше удивление прекрасную черту.</span>  Все они, за исключением немногих, умеют читать и знают порядок церковных служб. При этом священники обучают сирот, при- <span style="letter-spacing:-0.3px;word-spacing:-1px;">нимают их на попечение и не оставляют ша-</span> таться по улицам невеждами. В каждом го- <span style="letter-spacing:-0.3px;word-spacing:-1px;">роде и в каждой деревне для них выстроены</span> приёмные дома.
	   </div>
	   <div style="text-align:justify;" class="col2">
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">Как мы приметили, вдов и сирот в этой стра-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> не бесчисленное множество, ибо со времени</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> появления гетмана Хмельницкого не прекра-</span> щались у них страшные войны.
	   </div>
           <div class="page-slider" style="position:absolute;top:222px;left:523px;width:417px;height:450px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       </div>  
   </div>