<div class="page" id="page105">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:418px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div style="padding-top:5px;" class="text2col">
   <div style="text-align:justify;" class="col1"></div>
   <div style="text-align:justify;" class="col2">
       <span style="letter-spacing:-0.3px;word-spacing:-1px;">Приходя в храм, местные жители всякий раз</span> приносят с собою <a class="article-link">свечи</a>, к каждой приклеи- <span style="letter-spacing:-0.3px;word-spacing:-1px;">вают копейку и совершая молитву, ставят её</span> перед иконой святого, во имя которого цер- ковь, а также перед иконами, стоящими по окружности храма.<br><br> 

Есть также обычай: ежели случится, что ар- хиерей передаёт кому-либо из мирян некую вещь, то делает поклон головой в его сто- рону, хотя бы то был и ребёнок. Подобно и воевода кланяется нищим, и даже священ- ники кланяются женщинам и детям. Так у них принято. Поклоны головой друг другу они делают постоянно; таким же образом приветствуют людей на улице, здороваясь <span style="letter-spacing:-0.3px;word-spacing:-1px;">утром и вечером. Всё это признак смирения,</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ибо гордость им совершенно чужда, и горде-</span> цов они в высшей степени ненавидят. 
   </div>
   </div>  
    <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__comment-container">
         <div class="commentbk" data-sound="http://savvy-club.com/book/comment/105.mp3">
		<img src="http://savvy-club.com/book/comment/20.png" />
	 </div>
    </div>
  </div>
   </div>