<div class="page" id="page151">
<div id="linep1" style="position:absolute;left:550px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:554px;width:470px;height:768px;background:url('img/glava4/151.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="position:absolute;top:76px;left:73px;width:282px;height:59px;background:url('img/glava4/pro.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:226px;left:10px;width:109px;height:260px;background:url('img/glava4/v.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:267px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
стране сибирской водятся прекрасней- шие соболи вместе с ценной чернобурою <span style="letter-spacing:-0.3px;word-spacing:-1px;">лисицей. Порода соболя походит на коша-</span> чью. Он мечет много детёнышей и живёт                
                </div>
в дуплах высоких деревьев. Свойство меха этого животного таково, что он ежегодно те- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ряет в ценности: быв чёрным, как ночь, стано-</span> вится красным, а такой считается 
ниже до- стоинством. Спинка – самая лучшая часть соболя и очень дорога. Каждые сорок спи- нок, составляющие двадцать пар, называ- ются сороком, и каждые два с 
половиной со- рока образуют полный мех.        
            </div>
       </div>
   </div>