<div class="page" id="page157">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Тогда Никон предложил им блюдо превос- ходной рыбы и хлеба со своего стола. Они же поклонились, но принесли извинения, говоря: «Желудки наши не принимают варё- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ного и 
мы к этому совершенно не привыкли;</span> но если тебе угодно, дай нам неварёной рыбы». Им принесли большую, мёрзлую щуку, увидев которую те сильно обрадова- лись и премного 
благодарили. Старший из <span style="letter-spacing:-0.3px;word-spacing:-1px;">них попросил нож, взял рыбу, сделал надрез</span> кругом головы и снял кожу сверху донизу с <span style="letter-spacing:-0.3px;word-spacing:-1px;">такой ловкостью, что мы были изумлены. За-</span> тем он стал 
резать рыбу ровными ломтями, как режут ветчину, и бросал готовые куски своим, а те наперебой хватали, съедая их с большим наслаждением. Так они съели всю щуку, вместе 
с костями, кишками и голо- вой, ничего из неё не отбросив. Попросили ещё одну и столь же ловко распорядились <span style="letter-spacing:-0.3px;word-spacing:-1px;">с нею, с дракой выхватывая куски друг у</span> 
          </div>
   <div style="text-align:justify;" class="col2">
<div style="width:417px;height:457px;padding-bottom:22px;background:url('img/glava4/157.jpg') no-repeat; background-size:contain;"></div>
друга. Зловонный запах распространился по палате и мы едва не лишились чувств от величайшего отвращения к ним, стоящим в <span style="letter-spacing:-0.3px;word-spacing:-1px;">отдалении и обтирающим руки о свои шубы.</span>
   </div>
   </div>  
   </div>