<div class="page" id="page104">
    <div class="page__column">
      <div class="page-slider page-slider_align_left">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
      </div>
    </div>
    <div class="page__separator"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
Бог свидетель, что мы вели себя среди них как святые, как умершие для мира, отказав- шись от всяких радостей, веселья и шуток, <span style="letter-spacing:-0.3px;word-spacing:-1px;">в совершеннейшей нравственности, хотя по</span> нужде, а не добровольно. Находясь зимой в <span style="letter-spacing:-0.3px;word-spacing:-1px;">холодном храме, мы стояли с непокрытой го-</span> ловою от начала и до конца обедни, ибо от <span style="letter-spacing:-0.3px;word-spacing:-1px;">греков сюда пришёл обычай, что священник</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> и диакон постоянно остаются с открытой го-</span> ловой. По этой причине и нам против воли надлежало подражать им.<br><br> 

Мы выходили от обедни едва волоча ноги от усталости и бесконечного стояния, выхо- дили не иначе как слепыми. Бог свидетель, <span style="letter-spacing:-0.3px;word-spacing:-1px;">что в ушах у нас гудело и мы оставались не-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> сколько дней лишенными слуха. Но труднее</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> всего было то, что мы покидали храм только</span> перед закатом, а когда ещё сидели за сто- лом, уже начинали звонить к вечерне.
   </div>
   </div>  
   </div>