<div class="page" id="page19">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:417px;height:585px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1"></div>
   <div style="text-align:justify;" class="col2">
       Каждый вечер, начиная с заката солнца, си- роты ходят по домам просить милостыню, напевая хором гимны Пресвятой Богоро- дице. Окончив приятное и восхищающее душу пение, они получают просимое подая- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ние деньгами, кушаньем или чем иным, год-</span> ным для поддержания здравия и сил. Почти все они грамотны и грамотность эта воз- росла ещё больше с момента восстания <span style="letter-spacing:-0.3px;word-spacing:-1px;">Хмеля, дай Бог ему долгих лет, который осво-</span> <p style="text-align:center;margin:0px;">бодил и избавил миллионы право-</p><p style="text-align:center;margin:0px;"> славных от ига врагов веры,</p><p style="text-align:center;margin:0px;"> проклятых поляков.</p>
       <div style="position:absolute;top:520px;left:700px;background: url('images/sections/3/pages/19/orn02.png') no-repeat; height:89px;width:89px; background-size: contain;"></div>
   </div>
   </div>
</div>