2<div class="page" id="page127">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:483px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
<div style="position:absolute;top:75px;left:73px;width:242px;height:59px;background:url('images/pages/127/ya.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:164px;left:9px;width:109px;height:260px;background:url('images/pages/127/v.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:206px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
ся Россия покрыта лесами и среди них простирается длинный, узкий, так что две телеги не разъедутся, дорожный ко- ридор. Делают это умышленно: в случае          
  
                </div>
нападения врага продвижение его сильно <span style="letter-spacing:-0.3px;word-spacing:-1px;">замедляется. С севера непроходимая тайга,</span> с юга — пустыня и горы. Дорога проходит через большие города, малые крепости и <span style="letter-spacing:-0.3px;word-spacing:-1px;">отлично 
поддаётся контролю: завалами, ло-</span> вушками, заграждениями. По этой причине иностранцы не могут попасть в Москву без ведома властей и подолгу живут на погра- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ничных 
постоялых дворах в ожидании разре-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> шения. Если потребность велика, а надежды</span><span style="letter-spacing:-0.3px;word-spacing:-2px;"> на въезд совсем не остаётся, можно</span> сказать пароль: «Я вхожу во имя царя».  
   </div>
   <div style="text-align:justify;padding-top:592px;" class="col2">
Тогда воевода немедленно снаряжает та- кого человека внутрь страны, даёт ему де- нег на проезд и прокорм.
   </div>
   </div>  
   </div>