<div class="page" id="page111">
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Некоторые из греков рассказывали нам, что</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ежегодный доход турок – 24 миллиона золо-</span> том, и эту сумму они вымогают несчётными беззакониями; а ежегодный доход белого царя, как сообщали братья, по закону, спра- <span style="letter-spacing:-0.3px;word-spacing:-2px;">ведливости и правильно собираемый, состав-</span> ляет 36 миллионов. Можно ли удивляться такому благоденствию, когда управление в этой стране выше всяких похвал? Столько <span style="letter-spacing:-0.3px;word-spacing:-1px;">тысяч войска и миллионов расхода потребо-</span> валось царю для участия в походе, который длится уже два года, а ещё не открывали ни одного из казнохранилищ! Всё получают от купцов, монастырей и архиереев.<br><br>

Какой же смысл имеют ходячие в нашей стране речи, что христиане не умеют пра- <span style="letter-spacing:-0.3px;word-spacing:-1px;">вить государством? Да, мы и греки не умеем</span> управлять: это нам не по силам. Как расска- <span style="letter-spacing:0.3px;word-spacing:4px;">зывал один из знающих людей, греки, в</span>
          </div>
   <div style="text-align:justify;" class="col2">
эпоху своего могущества, позволили тур-кам выстроить крепость в заливе Чёрного моря. А позднее, при помощи неё, те поко- рили и уничтожили их царство.
<div style="width:417px;height:449px;margin-top:19px;background:url('img/glava3/111.jpg') no-repeat; background-size:contain;"></div>
   </div>
   </div>
   </div>