<div class="page" id="page45">
      <div id="linep1" style="position:absolute;left:572px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
	  <div class="text1col">
               <div style="float:left;padding-left:81px;padding-top:104px;padding-right: 17px;text-align:justify;">
		   Что касается их домашних животных, то в доме каждого хозяина таковых десять родов: во-первых, лошади, во-вторых, ко- ровы, в-третьих, овцы, в-четвертых, козы, в пятых, свиньи, в-шестых, куры, в-седьмых, гуси, в-восьмых, утки, в-девятых, индюшки, в-десятых, голуби, для которых есть места над потолками домов. Держат также собак. Больше всего нас удивляли различные по- роды свиней разного цвета. Они бывают черные, белые, красные, рыжие, жёлтые и синие. Также встречаются черные с белыми пятнами, синии с красными пятнами, крас- ные с жёлтыми пятнами, белые с рыжими пятнами, некоторые из них пёстрые, а иные полосатые в разных видах. Каждый дом окружен садом, изгородь которого состоит из вишни, сливы и прочих деревьев. Земля в них засажена капустой, морковью, репой, петрушкой, и так далее.
	       </div>
             <div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava1/45.jpg') no-repeat; background-size:contain;"></div>
          </div>
   </div>