<div class="page" id="page64">
        <div class="page-slider" style="position:absolute;left:0px;width:447px;height:768px;padding-right:4px;border-right: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
        <div class="text2col">
   <div style="text-align:justify;" class="col1">
   </div>
   <div style="text-align:justify;" class="col2">
        Ещё более чем прежде вступили мы здесь <span style="letter-spacing:-0.3px;word-spacing:-1px;">на путь усилий для перенесения трудов, сто-</span> яний и бдений, на путь самообуздания, со- вершенства и благонравия, почтительного страха и молчания. Что касается шуток и смеха, мы стали им совершенно чужды, ибо <span style="letter-spacing:0.3px;">коварные московиты подсматривали за</span> нами и обо всем доносили патриарху.<br><br> 

Поэтому мы строго следили за собою, но не по доброй воле, а по нужде и против же- лания вели себя по образу святых. Бог да избавит и освободит нас от них! Мы непре- станно испрашиваем у Него помощи и тер- пения до конца, да не погибнут втуне наши <span style="letter-spacing:-0.3px;word-spacing:-1px;">труды и злоключения, да дарует Он нам воз-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> можность увидеть родные места и уплатить</span> наши долги с процентами.         
            </div>
       </div>
   </div>