<div class="page" id="page11">

  <div class="text2col">
    <div
      style="position:absolute;top:82px;left:73px;width:152px;height:49px;background:url('img/glava1/malaya.png') no-repeat; background-size:contain;"></div>
    <div
      style="position:absolute;top:130px;left:16px;width:108px;height:260px;background:url('img/glava1/r.png') no-repeat; background-size: contain;z-index:9999;"></div>
    <div style="text-align:justify;padding-left:105px;width:398px;padding-top:176px;" class="col1">
      анним субботним утром 10 июня 1654 <span style="letter-spacing:-0.3px;word-spacing:-1px;">года, благополучно миновав десятки горо-</span><span
      style="letter-spacing:-0.3px;word-spacing:-1px;"> дов, мы наконец-то приблизились к вожде-</span>
    </div>
    <div style="text-align:justify;padding-top:176px;" class="col2">
      ленной цели нашего путешествия. Граница русского царства была уже недалеко и нас отделяла от неё только земля
      казаков.
    </div>
  </div>

  <!-- Main NODE For Slider -->
  <div class="page__column">
    <div class="page-slider page-slider_align_middle">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>
  </div>

</div>
