<div class="page" id="page110">
<div id="linep1" style="position:absolute;right:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
Все франкские короли, а именно: шведский, английский, голландский и прочие, держат русского монарха в большом почёте. Они <span style="letter-spacing:-0.3px;word-spacing:-1px;">присылают ему ежегодно военное оружие, а</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> он, в обмен на это, даёт пшеницу и рожь, нуж-</span> ную им для пропитания и запасов. Совсем <span style="letter-spacing:-0.3px;word-spacing:-1px;">недавно один только правитель Швеции при-</span> слал морем 24 000 ружей, стоящих более ста тысяч динаров.<br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">Как мы удостоверились, все жизненные при-</span> пасы в европейские земли идут из России. По этой причине тамошние правители под- <span style="letter-spacing:-0.3px;word-spacing:-1px;">носят русскому царю великие дары и посто-</span> янно отправляют к нему послов ради под- держания дружбы. В противном случае, как только прекратится подвоз припасов, им нечем будет существовать, ибо страна их очень тесна и в ней мало посевов.
   </div>
   </div>
   </div>