<div class="page" id="page90">
     <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-left">
Тогда как прежде всякий начальник мона- стыря поставлялся и убирался только по приказанию царя, патриарх Никон уничто- жил этот закон: стал ставить и сменять их без спроса. Любой, кто совершает просту- пок и провиняется перед ним: пьянствует или проявляет леность в молитве, немед- ленно ссылается в заточение.<br><br> 

В прежние времена дальние сибирские мо- <span style="letter-spacing:-0.3px;word-spacing:-1px;">настыри были пусты, но Никон в своё управ-</span> ление переполнил их злополучными свя- щенниками и монахами. Бывает, что сам он и  сжалится над осуждённым, проявит ми- лость и простит его, но ходатайства ни за <span style="letter-spacing:-0.3px;word-spacing:-1px;">кого не принимает, и кроме царя никто не ос-</span> меливается брать на себя роль заступника. Такой строгостью он устрашил всех и слово его стало решающим.
   </div>  
   </div>