<div class="page" id="page150">
    <div class="page-slider" style="position:absolute;left:81px;top:87px;width:864px;height:394px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:568px;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Московские купцы, которые ведут торговлю</span> для государя, министров и вельмож, также рассказывали нам, что им требуется шесть <span style="word-spacing:1px;">лет на дорогу туда и обратно, и что они за-</span>
          </div>
   <div style="text-align:justify;padding-top:568px;" class="col2">
держиваются в тех краях только на одну зиму, пока не сделают все закупки. Говорят, <span style="letter-spacing:-0.3px;word-spacing:-1px;">что войска в Сибири более двухсот тысяч че-</span> ловек и большая часть его казаки.
   </div>
   </div>  
   </div>