<div class="page" id="page59">
    <div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>
  </div>
       <div class="text1col">
            <div style="float:left;padding-left:81px;padding-top:87px;padding-right: 17px;">
       Воеводы на Руси остаются в должности три года, после чего их сменяют. Они не имеют <span style="letter-spacing:-0.3px;word-spacing:-1px;">пристрастия к вину или веселью, чаще быва-</span> ют преклонных лет, из домов могуществен- ных по знатности и родовитости. У воевод киевских мы видели целые возы книг, но что <span style="letter-spacing:-0.3px;word-spacing:-1px;">Киев в сравнении с Москвою!? Всё это проис-</span> ходит от их любви к знанию, а знают они по пядям даже нашу страну и её историю.<br><br>

Некогда в Путивле скончался наш знакомый <span style="letter-spacing:0.3px;">соотечественник — алеппец, митрополит</span> Аркадский, посланный в эти края ещё по- чившем в Бозе патриархом Евфимием. В то <span style="letter-spacing:-0.3px;word-spacing:-1px;">время воеводой города был явный беззакон-</span> ник, любящий взятки, обидчик многих архи- ереев и священников, которых он вернул назад без ведома царя. Точно также он не пустил въехать в страну и нашего митропо- лита, требуя от него взятку.           
            </div>
       </div>
   </div>