<div class="page" id="page100">
<div id="linep1" style="position:absolute;right:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;right:577px;width:447px;height:768px;background:url('img/glava3/100.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
Иконостасы в русских храмах удивительно <span style="letter-spacing:-0.3px;word-spacing:-1px;">тонкого письма, в окладах из серебра чекан-</span> ной работы с позолотой. Большей частью иконы бывают древние и ветхие, ибо в этой стране питают большую веру к старым иконам. В каждой церкви непременно име- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ется творящий великие чудеса образ Влады-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> чицы, в чём мы убедились воочию, став оче-</span> видцами несомненных доказательств.<br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">А вот как они входят в церковь: сначала каж-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дый делает несколько земных поклонов, за-</span> тем кланяется присутствующим, хотя бы их было много, на восток и запад, север и юг. Соблюдают такой обычай и дети, совершая земные поклоны ещё с большей ловкостью чем мужчины. Точно также и когда входят в <span style="letter-spacing:-0.3px;word-spacing:-1px;">дом — прежде всего останавливаются перед</span> иконостасом, творят крестное знамение и затем кланяются присутствующим.  
   </div>
   </div>  
   </div>