<div class="page" id="page83">
       <div class="text2col">
<div style="position:absolute;top:640px;left:227px;background: url('img/foot1.png') no-repeat; height:26px;width:115px; background-size: contain;"></div>
   <div style="text-align:justify;" class="col1">
Будучи на приёме у царя, учитель наш гово- рил  на греческом языке, ибо мы хорошо на- учились ему в то время, когда находились в обществе греков. To была нам великая ми- лость от Бога, ибо здесь совсем не знают <span style="letter-spacing:-0.3px;word-spacing:-1px;">арабской и совсем не терпят турецкой речи,</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> даже слышать её не могут, думая, что через</span> это осквернится их слух.<br><br> 

<span style="letter-spacing:0.3px;word-spacing:1px;">Все драгоманы предостерегали нашего</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> владыку, чтобы он отнюдь не говорил по-ту-</span> рецки. Но ведя беседу на греческом, учи- тель наш несколько запинался, ибо греки говорят быстро, a мы, хотя и научились их наречию, не в состоянии были говорить на нём так же легко и бегло как они, поскольку язык у них очень подвижен. 
          </div>
   <div style="text-align:justify;" class="col2">
<div style="width:417px;height:586px;background:url('img/glava3/83.jpg') no-repeat; background-size:contain;"></div>
   </div>
   </div>  
   </div>