<div class="page" id="page161">
<div style="position:absolute;top:76px;left:73px;width:277px;height:59px;background:url('img/glava4/bezh.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:164px;left:9px;width:109px;height:260px;background:url('img/glava4/v.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:176px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
течение этих двух памятных лет прове- дённых в России замок висел на наших сердцах, а ум был до крайности стеснён и подавлен, ибо в здешней стране никто не может 
чувствовать себя сколь-нибудь               
                </div>
свободным и довольным, кроме разве ко- ренных жителей, но всякий, подобно нам, хотя бы он сделался властителем здешних мест, никогда не перестанет смущаться духом и 
тревожиться сердцем. По этой при- <span style="letter-spacing:-0.3px;word-spacing:-1px;">чине, мы, снедаемые сильной тоской и уста-</span> лостью, просили государя отпустить нас – всё равно дадут ли нам что-нибудь или нет. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Более 
всего я боялся и хлопотал об отъезде</span> до Пасхи, чтобы избавиться от бдений, тру- дов и стояний Страстной седмицы, от тягот мучительных богослужений.
   </div>
   <div style="text-align:justify;" class="col2">
<div style="width:417px;height:395px;padding-bottom:30px;background:url('img/glava4/161.jpg') no-repeat; background-size:contain;"></div>
<span style="letter-spacing:-0.3px;word-spacing:-1px;">И вот наконец Господь рассеял наши скорби,</span> когда однажды, перед закатом солнца, мы <span style="letter-spacing:-0.3px;word-spacing:-1px;">выехали из Москвы, не веря себе от радости.</span> А на обратном пути, в городе Болхов, наш 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">владыка отправился в одну из церквей и со-</span> вершил в ней пасхальную утреню. 
   </div>
   </div>  
   </div>