<div class="page" id="page48">
       <div class="text2col">
	            <div style="position:absolute;top:85px;left:73px;width:238px;height:50px;background:url('img/glava1/bogdan.png') no-repeat; background-size:contain;"></div>
	            <div style="position:absolute;top:160px;left:20px;width:109px;height:260px;background:url('img/glava1/ch.png') no-repeat; background-size: contain;"></div>
	            <div style="text-align:justify;padding-top:176px;" class="col1">
		            <div style="padding-left:27px;text-align:justify;">
				    <span style="letter-spacing:-0.3px;word-spacing:-1px;">то касается Хмеля, ему послали известие</span> о нашем прибытии и вскоре, с большой свитой, он подъехал к городским воро- <span style="letter-spacing:-0.3px;word-spacing:-1px;">там. Все, кроме него, одетого в простое ко-</span><span style="letter-spacing:0.2px;"> роткое платье, были в красивом облаче-</span>
	                    </div>
			    нии с дорогим оружием. Увидев патриарха, он сошел с коня, поклонился, дважды поце- ловал край его одеяния, приложился ко кре- сту и облобызал его правую руку.<br><br>
	                    Они много разговаривали о разных предме- <span style="letter-spacing:-0.3px;word-spacing:-1px;">тах и всё о чём просил наш патриарх, гетман</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> исполнил. Укажу один пример. В ту пору пра-</span><span style="letter-spacing:-0.2px;word-spacing:-1px;"> витель Валахии и его вельможи находились</span> в большом страхе, ожидая, что Хмель со своим войском невзначай появится у них по причине избиения валахами казаков.
	            </div>
                  <div style="position:absolute;left:527px;top:87px;width:417px;height:586px;background:url('img/glava1/48.jpg') no-repeat; background-size:contain;"></div>
	        <div style="text-align:justify;" class="col2">
	        </div>
      </div>
   </div>