<div class="page" id="page90">
<div id="linep1" style="position:absolute;right:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;right:577px;width:447px;height:768px;background:url('img/glava3/89.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
В последнее время он дошёл до того, что <span style="letter-spacing:-0.3px;word-spacing:-1px;">отставил от должности самого келаря мона-</span> стыря Святой Троицы, хотя тот по своему значению был третьим правителем, ибо в этой стране считают трёх правителей: царя, <span style="letter-spacing:-0.3px;word-spacing:-1px;">патриapxa, а также келаря Святой Троицы. И</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> после такого сана Никон сделал его мельни-</span> ком в том монастыре, куда он был заточен.<br><br> 

<span style="letter-spacing:-0.3px;word-spacing:-1px;">Причина подобного наказания была следую-</span> щая. Цари дали в пользование обители Свя- той Троицы четыре полка ратников, каждый в шестьсот человек, дабы они поочередно держали стражу в нём и охраняли его инте- ресы. И вот до сведения патриарха дошло, что келарь брал взятки с богатых ратников, чтобы им не идти в поход, а посылал вме- сто них бедных, у которых не было средств
содержать себя.
   </div>
   </div>  
   </div>