<div class="page" id="page107">
    <div class="page-slider" style="position:absolute;left:81px;top:364px;width:864px;height:334px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
То есть нужно было вставать и снова идти на службу. Какая твёрдость и какие по- рядки! Эти люди не скучают, не устают и им не надоедают постоянные молитвы и по- <span style="letter-spacing:-0.3px;word-spacing:-1px;">клоны. Причём они стоят на ногах с непокры-</span> той головою при самом сильном холоде, и <span style="letter-spacing:-0.3px;word-spacing:-1px;">всё же не сокрушаясь продолжительностью</span> служб, которые у них до крайности длинны.
          </div>
   <div style="text-align:justify;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Утром, поспешая в церковь, все одеваются в</span> свои лучшие,  дорогие платья, самые яркие <span style="letter-spacing:-0.3px;word-spacing:-1px;">и нарядные, особенно женщины. Пестрота и</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> обилие красок при этом таковы, что душа на-</span> полняется радостью. Также мы приметили <span style="letter-spacing:-0.3px;word-spacing:-1px;">интересную деталь — каждый день на утрен-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> нем богослужении не менее трёх раз читают</span> толкование Евангелия.
   </div>
  </div>  
</div>