<div class="page" id="page141">
    <div class="page-slider" style="position:absolute;left:81px;top:87px;width:864px;height:465px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:597px;" class="col1">
Большинство4 вельмож имеют титул князь. Вместе они никогда не собираются друг у друга для совещания, но всякий совет про-
          </div>
   <div style="text-align:justify;padding-top:597px;" class="col2">
исходит у царя, и если бы он прослышал, <span style="letter-spacing:-0.3px;word-spacing:-1px;">что некоторые из них сходились в его отсут-</span> ствие, то рассеял бы всех мечом.  
   </div>
   </div>  
   </div>