<div class="page" id="page154">
    <div style="position:absolute;top:76px;left:73px;width:282px;height:59px;background:url('images/pages/154/pro.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:226px;left:10px;width:109px;height:260px;background:url('images/pages/154/v.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:267px;">
                <div style="padding-left:27px;text-align:justify;">
стране сибирской водятся прекрасней- шие соболи вместе с ценной чернобурою <span style="letter-spacing:-0.3px;word-spacing:-1px;">лисицей. Порода соболя походит на коша-</span> чью. Он мечет много детёнышей и живёт                
                </div>
в дуплах высоких деревьев. Свойство меха этого животного таково, что он ежегодно те- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ряет в ценности: быв чёрным, как ночь, стано-</span> вится красным, а такой считается 
ниже до- стоинством. Спинка – самая лучшая часть соболя и очень дорога. Каждые сорок спи- нок, составляющие двадцать пар, называ- ются сороком, и каждые два с 
половиной со- рока образуют полный мех.        
            </div>
      <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
   </div>