<div class="page" id="page112">
<div id="linep1" style="position:absolute;left:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava3/112.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Совсем не так обстоит дело у русских. Уме- ние управлять здесь таково, что ни ино- странцу невозможно утаиться между ними, ни шпиону проникнуть в их страну! Чуже- <span style="letter-spacing:-0.3px;word-spacing:-1px;">земцу, хотя бы он был патриарх или важный</span> посол, они не сообщают своих сокровенных тайн, и так делают не только вельможи, но и простолюдины, и малые дети.<br><br>

Всё это происходит от того, что они знают о случившемся с греками и о потере ими цар- ства. Да расширит Бог их разум и уменье управлять ещё более того уменья, которые мы видели! Пусть никто не говорит, что хри- стианам господство не подобает, ибо, кто не видел собственными глазами, тот, быть <span style="letter-spacing:-0.3px;word-spacing:-1px;">может, не поверит этим известиям и описан-</span> ным нами превосходным достижениям, но Бог свидетель, что я лжи не говорю, и за то, чтобы хвалить, взятку с них не брал.
          </div>
   <div style="text-align:justify;" class="col2">
   </div>
   </div>
   </div>