<div class="page" id="page127">
<div id="linep1" style="position:absolute;left:547px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:551px;width:473px;height:768px;background:url('img/glava4/127.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="position:absolute;top:86px;left:73px;width:320px;height:89px;background:url('img/glava4/rus.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:245px;left:14px;width:109px;height:260px;background:url('img/glava4/r.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:326px;padding-right: 17px;">
                <div style="padding-left:16px;text-align:justify;">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">усские известны своей мудростью, смыш-</span><span style="letter-spacing:-0.4px;word-spacing:-2px;"> лённостью, проницательностью и даже про-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> столюдин может задать такой глубокомыс-</span>                    
                </div>
ленный вопрос, который поставит в тупик <span style="letter-spacing:-0.3px;word-spacing:-1px;">учёного и заставит его покраснеть. Среди на-</span> стоятелей храмов и монастырей много лю- дей весьма образованных, знающих логику, 
<span style="letter-spacing:0.2px;">ораторов, богословов. Все русские, даже</span> большинство их жён и дочерей, умеют чи- тать. Что касается зависти и иных пороков, всех вообще, этого они не знают.       
            </div>
       </div>
   </div>