<div class="page" id="page5">
  <div class="text2col">
    <div style="text-align:justify;" class="col1">
      Иным было положение арабских путников Макария и Павла, коих Патриарх Никон при- <span
      style="letter-spacing:-0.1px;word-spacing:-1px;">нял с почтительным радушием. Как лицо ду-<span> <span
      style="letter-spacing:0.5px;">ховное, как сын священника, облечённого<span> высоким саном, Павел имел возможность посещать церковные богослужения, нахо- диться при дворе и совершенно свободно <span
      style="letter-spacing:0px;">перемещаться в любые части города. Нема-<span> <span style="letter-spacing:-0.1px;">лое значение имело и то, что к жизнерадост-<span> <span
      style="letter-spacing:0.2px;">ному, общительному, молодому сирийцу<span> <span style="letter-spacing:0.3px;">прониклись искренней симпатией почти<span> <span
      style="letter-spacing:0.1px;">все русские люди, начиная от царя и кончая<span> <span
      style="letter-spacing:0.3px;">должностными лицами. И прониклись они<span> вплоть до того, что некоторые чиновники, <span
      style="letter-spacing:0.3px;">желая удовлетворить любознательность<span> архидиакона, в пылу доверительных бесед сообщали ему сведения немалой государ- <span
      style="letter-spacing:0.1px;">ственной важности. Вот почему  труд Павла<span> Алеппского – почти единственное сокро- <span
      style="letter-spacing:0.3px;">вище в своём роде тщетно было бы искать<span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span>
    </div>
    <div style="text-align:justify;" class="col2">
      <img style="padding-bottom:16px;" src="images/pages/5/pic.jpg" class="imgdrop" style="width:416px; height: 532px;">
      <br>нечто похожее в записках других иностран-<br>цев, писавших о России XVII века.

    </div>
  </div>
</div>
