<div class="page" id="page109">
     <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
     <div style="position:absolute;top:87px;left:73px;width:368px;height:88px;background:url('images/pages/109/tsar2.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:252px;left:10px;width:109px;height:260px;background:url('images/pages/109/v.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:294px;">
                <div style="padding-left:27px;text-align:justify;">
			Москве постоянно живут консулы евро- пейских королей: английского, австрий- ского, шведского и так далее. Но когда некоторое время назад англичане устро-                    
                </div>
		или смуту, восстали на своего государя и убили его, царь Алексей очень разгневался, так как они изменили монарху. По этой при- чине он повелел изгнать всех послов из своей страны, пока новый король не при- слал важного представителя, дабы восста- <span style="letter-spacing:-0.3px;word-spacing:-1px;">новить попранные отношения дружбы и рас-</span> положить мысли царя к благосклонности.    
            </div>
   </div>