<div class="page" id="page112">
    <div class="page-slider" style="position:absolute;left:81px;top:420px;width:864px;height:278px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:172px;" class="col1">
<div style="position:absolute;top:87px;left:73px;width:504px;height:59px;background:url('images/sections/5/pages/112/bez.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:152px;left:17px;width:109px;height:260px;background:url('images/sections/5/pages/112/k.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">ак нам стало известно, царь очень любит монастырь святого Саввы. Прежде ему было чудо от него и теперь он навещает обитель особенно часто. Здесь мы ви- дели помещение, устроенное для ухода за 
          </div>
 за увечными, слепыми и поражёнными за- разной болезнью из числа монахов.
       </div>
   <div style="text-align:justify;padding-top:172px;" class="col2">
Царь назвал это место «Покоищем боль- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ных». От сильного отвратительного и зловон-</span> ного запаха мы не могли оставаться в нём, но государь, взяв нашего учителя под руку, повёл его чтобы тот благословил братьев монастыря и прочёл над ними молитву, дабы они исцелились. 
   </div>
   </div>  
   </div>