<div class="page" id="page163">
<div style="position:absolute;top:580px;left:700px;background: url('images/sections/6/pages/163/orn02.png') no-repeat; height:89px;width:89px; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
На пасхальной неделе меня с царскими пе- реводчиками пригласил к себе воевода. По- слушай какие удивительные и диковинные вещи мы узрели в этот день! Нам рассказы- 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">вали о них прежде, но мы не</span> верили, пока не увидели собственными глазами. А именно: <span style="letter-spacing:-0.3px;word-spacing:-1px;">после того как был накрыт стол и мы сели, во-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> евода позвал жену, вошедшую со своими 
до-</span> черьми и сыновьями в наилучших одеждах. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Явившись, она приветствовала нас поклоном</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> головы, а затем муж поставил её посредине</span> и просил гостей подходить и целовать её 
в <span style="letter-spacing:-0.3px;word-spacing:-1px;">уста святым пасхальным поцелуем, при кото-</span> ром говорят «Христос воскресе» и который, по их верованию, безгрешен.<br><br> 

<span style="letter-spacing:-0.3px;word-spacing:-1px;">Сначала подошли переводчики, поцеловали</span> хозяйку в уста, поклонились ей и вернулись назад. Что же касается меня, то я стоял как истукан и таял в своём соку от стыда. 
Муж
          </div>
   <div style="text-align:justify;" class="col2">
её, между тем, настойчиво приглашал меня, но как я отказывался, то переводчики стали <span style="letter-spacing:-0.3px;word-spacing:-1px;">уговаривать подойти и совершить надлежа-</span> щий обычай, иначе воевода рассердится. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Со 
стыдом и большим принуждением я поце-</span> ловал её в уста, произнося заветные слова <span style="letter-spacing:-0.3px;word-spacing:-1px;">пасхального праздника. Я был словно лишён-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ный зрения и разума, ибо никогда ничего по-</span> 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">добного не видел. Нам рассказывали, но я не</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> верил, что не только в день Пасхи, но и когда</span> угощают у себя постороннего человека, то приводят к нему свою жену, чтобы он 
и все <span style="letter-spacing:-0.3px;word-spacing:-1px;">присутствующие поцеловали её в уста, при-</span> чём муж спокойно смотрит на это и никто <p style="text-align:center;margin:0;">не смеет отказаться, иначе его</p><p style="text-align:center;margin:0;"> выгонят из дома.</p> 
   </div>
   </div>  
   </div>