<div class="page" id="page76">
<div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>
  </div>
       <div class="text1col">
            <div style="position:absolute;top:85px;left:73px;width:228px;height:50px;background:url('images/sections/4/pages/76/russkie.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:130px;left:17px;width:109px;height:260px;background:url('images/sections/4/pages/76/z.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:208px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
			най, что иконописцы в этом городе не имеют себе подобных на лице земли по своему искусству, тонкости кисти и на- <span style="letter-spacing:0.3px;word-spacing:1px;">выку в мастерстве. Они изготовляют об-</span>                     
                </div>
	разки, восхищающее сердце зрителя, где <span style="letter-spacing:-0.3px;word-spacing:-1px;">каждый святой или ангел бывает величиною</span> с чечевичное зернышко. При виде их мы приходили в восторг. В церкви покойного главы здешних купцов мы видели малень- кую икону из трех дощечек, т.е. с дверцами. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Фигуры ангелов на ней величиною с мух – ра-</span> бота изумительная. Стоимость этой иконы <span style="letter-spacing:-0.3px;word-spacing:-1px;">сто пятьдесят рублей, но по мастерскому ис-</span> полнению она воистину бесценна. Жаль, что люди с такими руками тленны!          
            </div>
       </div>
   </div>