<div class="page" id="page79">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:587px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:266px;" class="col1">
<div style="position:absolute;top:87px;left:73px;width:169px;height:49px;background:url('images/sections/5/pages/79/tsar.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:166px;left:20px;width:109px;height:260px;background:url('images/sections/5/pages/79/e.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">два только государь прибыл в Москву, как с визитом к нам явился великий <span style="letter-spacing:-0.1px;word-spacing:-1px;">драгоман, т.е. царский переводчик. Он вы-</span>
          </div>
разил своё почтение и уведомил, что слав- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ный государь всея Руси просит нас пригото-</span> виться для свидания с ним, кое назначено <span style="letter-spacing:-0.3px;word-spacing:-1px;">на завтра. Тогда у нас настала неописуемая</span> радость, ибо обыкновенно, по приезде па- триархов в Москву, они имеют свидание с царём только спустя две недели. Так было, <span style="letter-spacing:-0.3px;word-spacing:-1px;">например, с Паисием Иерусалимским и Афа-</span> насием Константинопольским. Но нашего владыку приняли на третий день.
       </div>
   <div style="text-align:justify;" class="col2">
   </div>
   </div>  
   </div>