<div class="page" id="page75">
             <div class="text2col">
<div style="position:absolute;left:81px;top:310px;width:865px;height:391px;background:url('img/glava2/75.jpg') no-repeat; background-size:contain;"></div>
   <div style="text-align:justify;" class="col1">
Cо всеми послами жители держатся на рас- стоянии, считая чуждого по вере в высшей степени нечистым. Никто из народа не сме- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ет войти в жилище кого-либо из европейцев,</span> иначе его тут же хватают со словами: <span style="font-style:italic;">«ты вошёл сюда, чтобы сделаться франком».</span>
   </div>
   <div style="text-align:justify;" class="col2">
Вообще, когда кто, избави Боже, смотрит на пушки или крепость, того немедленно хва- тают и отправляют в заточение, говоря: <span style="font-style:italic;">«ты шпион из турецкой страны».</span> Словом ска- <span style="letter-spacing:-0.3px;word-spacing:-1px;">зать, русские крепко охраняют своё государ-</span> ство и свои владения.
   </div>
   </div>
</div>