   <div class="page" id="page8">
    <div id="linep1" style="position:absolute;left:547px;z-index:9999;width:1px;height:768px;background:url('images/pages/8/line.png') no-repeat;"></div>
    <div style="position:absolute;left:553px;width:471px;height:768px;background:url('images/pages/8/8.jpg') no-repeat; background-size:contain;"></div>
    <div class="text1col-left" style="padding-top:244px;">
        <div style="position:absolute;top:82px;left:73px;width:137px;height:59px;background:url('images/pages/8/vstup.png') no-repeat; background-size:contain;"></div>
        <div style="position:absolute;top:190px;left:13px;width:109px;height:260px;background:url('images/pages/8/ya.png') no-repeat; background-size: contain;"></div>
            <div style="padding-left:28px;text-align:justify;">
                убогий раб по имени Павел, более всех нуждающийся в милости Господа моего, архидиакон, православной
                веры, родом
                <span style="letter-spacing:0.3px;word-spacing:2px;">из Алеппо, являюсь родным сыном все-</span>
            </div>
            <span style="word-spacing:-1px;">честнаго и святейшего отца Макария, патри-</span> арха Антиохийского. С
            самых
            первых дней я воспитан в тесной привязанности к нему и ничьё общество не было для меня сладост- нее его
            общества.
            Я непрестанно питался пищей его оживляющих слов и утолял жа- жду водой его освежающих наставлений,
            подчиняясь ему
            во всём и следуя за ним безотлучно, где бы он ни оказался.
        </div>

</div>
