<div class="page" id="page148">
<div class="page-slider" style="position:absolute;left:0px;width:447px;height:768px;padding: 0 4px 0 4px;border-right: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
Позднее тот же Феофан отправил их с пись- мом к Михаилу, отцу теперешнего царя. Тот устроил гостям радушный приём и исходя из прежнего сана возвёл их в высокую сте- 
пень, ибо цари обычно не оставляют втуне чьего-либо происхождения. Одного из них зовут теперь князь Анастасий, а другого князь Феодор. Они часто прихаживали к на- шему 
владыке и мы заметили в них уменье читать по-русски, набожность и усердие к молитве, большее, нежели у верующих. Не- редко они принимали нас в своих дворцах и сообщали 
о многом, но не хотели ни гово- рить по-турецки, ни читать на этом языке, <span style="letter-spacing:-0.3px;word-spacing:-1px;">ибо приснопамятный патриарх Филарет, дед</span> <span style="letter-spacing:-0.3px;word-spacing:-1px;"> нынешнего царя, заставил их поклясться</span> на Евангелии, 
что они не обратятся к произне- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сению турецких слов, дабы вновь не осквер-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ниться. Эта история лишь малая часть из ви-</span><p style="text-align:center;margin:0;"> денных нами чудес сего века.</p>
   </div>
   </div>  
   </div>