<div class="page" id="page98">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:515px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:176px;" class="col1">
<div style="position:absolute;top:80px;left:73px;width:403.5px;height:59px;background:url('images/pages/98/kak.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:130px;left:17px;width:109px;height:260px;background:url('images/pages/98/z.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">десь поистине христианская вера соблю-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дается в полной чистоте. О, как они счаст-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ливы! Ибо все дни их радостны как празд-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ник: нет заботы о дани и налогах, потерях</span><span style="letter-spacing:-0.2px;word-spacing:-1px;"> и долгах, но лишь о том, чтобы спешить из</span>
          </div>
<span style="letter-spacing:-0.3px;word-spacing:-2px;">дома в церковь, из церкви домой, в благодуш-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ном настроении, ликующими и радостными.</span><br><br> 

Мы дивились на русских: они так высоко ст- вят православную веру, что не крестят ни- кого раньше чем тот пробудет сорок дней в каком-либо монастыре, не входя в церковь. <span style="letter-spacing:-0.3px;word-spacing:-2px;">Так поступали теперь и с поляками, коих кре-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> стили вторично, ибо в противном случае рус-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ские не желают иметь с ними никакого обще-</span> ния. По этой причине ляхи сами просят <span style="letter-spacing:0.3px;word-spacing:3px;">крещения, дабы их приняли и любили от</span>
       </div>
   <div style="text-align:justify;padding-top:628px;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;padding-top:624px;">всего сердца. К тому же крестившиеся полу-</span> чают высокие должности.
   </div>
   </div>  
   </div>