<div class="page" id="page96">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:864px;height:346px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:477px;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Обрати внимание, брат мой, на сии дела, кои</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> мы слышали и видели от этого благословен-</span> ного русского народа. Какое убеждение! <span style="letter-spacing:-0.3px;word-spacing:-1px;">Какая вера! Какая преданность Богу! Из опа-</span> сения осквернения они даже не пускают чу- жестранца в свои церкви, совсем не прини- мают и не любят людей другой религии. 
          </div>
   <div style="text-align:justify;padding-top:477px;" class="col2">
Даже послы подвергаются у них большим стеснениям, ибо стража караулит приезжих днём и ночью, никого к ним не допуская и <span style="letter-spacing:-0.3px;word-spacing:-1px;">не дозволяя гостям ходить по городу. Мы ди-</span> вились и изумлялись такой строгости. Да продлит Господь их существование до дня страшного суда и воскресения из мёртвых!
   </div>
   </div>  
   </div>