<div class="page" id="page70">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:418px;height:426px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
             <div class="text2col">
   <div style="text-align:justify;padding-top:152px;" class="col1">
<div style="position:absolute;top:85px;left:73px;width:238px;height:59px;background:url('images/sections/4/pages/70/greki.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:136px;left:11px;width:119px;height:260px;background:url('images/sections/4/pages/70/n.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">емало прибывает в эти земли и греков, од-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> нако по причине многих пороков и недо-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> статков, кои всегда и везде они обнаружи-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> вают, мы решительно нигде не находили</span><span style="letter-spacing:0.3px;word-spacing:6px;"> людей им симпатизирующих. Казаки</span>
</div>
их не любят, русские принимают только из сострадания и ради оказания пособий. Но <span style="letter-spacing:-0.3px;word-spacing:-1px;">скольких из них они сослали в Сибирь и в мо-</span> настыри мрачного Северного моря – нельзя <span style="letter-spacing:-0.3px;word-spacing:-1px;">и перечесть! Скольких не пустили и вернули</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> назад воеводы Путивля! И всему этому при-</span> чиной обилие их пороков и огромность тво- <span style="letter-spacing:-0.3px;word-spacing:-1px;">римого ими зла. В странах франков не могут</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> равнодушно слышать даже имени греков, го-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> воря, что они через своё дурное управление</span> потеряли собственное великое царство. О, что это за народ! Как гнусны его поступки!<span style="letter-spacing:-0.1px;word-spacing:-1px;"> Но если так преступно действовали их цари</span>
   </div>
   <div style="text-align:justify;padding-top:541px;" class="col2">
в древности, то что удивляться их низким делам теперь? Сказано это не в осуждение, но именно так мы слышали о греках всюду <span style="letter-spacing:-0.3px;word-spacing:-1px;">куда бы ни приходили, и сами видели от них</span> множество скверных дел.
   </div>
   </div>
</div>