<div class="page" id="page119">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:455px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:566px;" class="col1">
Перед началом поста царские ратники об- ходят все мясные лавки, питейные дома и надёжно их запечатывают. Горе тому, кого <span style="letter-spacing:-0.3px;word-spacing:-1px;">встречают пьяным или с сосудом хмельного</span> 
          </div>
   <div style="text-align:justify;" class="col2">
напитка в руке. В этот сильный холод его обнажают, скручивают руки за спиной, а затем стегают длинной плетью из сырых бычьих жил: как только она коснётся тела, тотчас брызгает кровь. В таком положении человека водят по городу и затем сажают в тюрьму, пока он не отбудет положенного срока. Семь дней после Пасхи питейные за- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ведения продолжают оставаться запечатан-</span> ными. Так же делается и во время больших праздников.<br><br> 

Как упоминалось, в течение первой недели поста вообще не бывает никакой торговли, <span style="letter-spacing:-0.3px;word-spacing:-1px;">а все съестные лавки закрыты. В эти дни па-</span> триарх Никон ходит по тюрьмам и раздаёт <span style="letter-spacing:-0.3px;word-spacing:-1px;">заключенным щедрую милостыню. За сидев-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ших должников он уплачивает долги и осво-</span> бождает их. Если царь находится в Москве, то по своему обычаю делает то же самое. 
   </div>
   </div>  
   </div>