<div class="page" id="page117">
<div style="position:absolute;top:586px;left:684px;background: url('images/pages/117/orn02.png') no-repeat; height:89px;width:89px; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Он сообщил, что в этой келье было трое страдальцев, двое умерли на его глазах, а <span style="letter-spacing:-0.3px;word-spacing:-1px;">этот остался. Царь упросил патриарха помо-</span> литься над ним, и тот прочёл несколько мо- литв, прослезившись. Удивление государя к нашему владыке ещё более возросло и он потихоньку поманил рукою своих вельмож, обращая их внимание на святость нашего учителя, его слёзы и смирение.<br><br>

       Иногда царь подзывал меня к себе и много говорил со мной через переводчика. За это время я успел выучить по-русски ектенью, т.е. «Миром Господу помолимся» и прочее. <span style="letter-spacing:-0.3px;word-spacing:-1px;">Не знаю, кто сообщил ему об этом, но как-то</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> однажды он сказал мне: «прошу тебя про-</span> честь для меня завтра ектенью и <a class="article-link">Евангелие</a> по-русски», ибо я уже начал читать русские книги. Тая в своём соку от смущения и ве- <span style="word-spacing:4px;">ликого почтения пред царем, я обливался</span>
          </div>
   <div style="text-align:justify;" class="col2">
потом, обильным как море, и мог ответить <span style="letter-spacing:-0.3px;word-spacing:-1px;">только: «ваше приказание будет исполнено».</span><br><br>

Вообще, по причине нашего долгого прибы- вания у них, все меня знали и постоянно шутили со мной. Патриарх, царский намест- ник, советники и секретари нередко говари- вали: «оставайся здесь переводчиком по <span style="letter-spacing:-0.3px;word-spacing:-1px;">арабскому языку», ибо для всех языков есть</span> у нас переводчики, а для арабского нет. На это я отвечал им, что если бы даже они ода- <span style="letter-spacing:-0.3px;word-spacing:-1px;">рили меня всем, что есть в Москве, и то я бы</span> не согласился остаться. «Ты прав, замечали <span style="letter-spacing:-0.3px;word-spacing:-1px;">они, что не хочешь расстаться с женой». Всё</span><p style="text-align:center;margin:0;"> это говорилось ради шутки и смеха.</p> 
   </div>
   </div>  
    <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__map-container">
         <img src="http://savvy-club.com/book/comment/117.jpg
                   " />
    </div>
  </div>
   </div>