<div class="page" id="page99">
<div class="page__column">
      <div class="page-slider page-slider_align_left">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
      </div>
    </div>
    <div class="page__separator"></div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
          </div>
   <div style="text-align:justify;" class="col2">
Иконостасы в русских храмах удивительно <span style="letter-spacing:-0.3px;word-spacing:-1px;">тонкого письма, в окладах из серебра чекан-</span> ной работы с позолотой. Большей частью иконы бывают древние и ветхие, ибо в этой стране питают большую веру к старым иконам. В каждой церкви непременно име- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ется творящий великие чудеса образ Влады-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> чицы, в чём мы убедились воочию, став оче-</span> видцами несомненных доказательств.<br><br>

<span style="letter-spacing:-0.3px;word-spacing:-1px;">А вот как они входят в церковь: сначала каж-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дый делает несколько земных поклонов, за-</span> тем кланяется присутствующим, хотя бы их было много, на восток и запад, север и юг. Соблюдают такой обычай и дети, совершая земные поклоны ещё с большей ловкостью чем мужчины. Точно также и когда входят в <span style="letter-spacing:-0.3px;word-spacing:-1px;">дом — прежде всего останавливаются перед</span> иконостасом, творят крестное знамение и затем кланяются присутствующим.  
   </div>
   </div>  
   </div>