<div class="page" id="page46">
	  <div class="text1col-left"  style="padding-top:104px;">
		   Что касается их домашних животных, то в доме каждого хозяина таковых десять родов: во-первых, лошади, во-вторых, ко- ровы, в-третьих, овцы, в-четвертых, козы, в пятых, свиньи, в-шестых, куры, в-седьмых, гуси, в-восьмых, утки, в-девятых, индюшки, в-десятых, голуби, для которых есть места над потолками домов. Держат также собак. Больше всего нас удивляли различные по- роды свиней разного цвета. Они бывают черные, белые, красные, рыжие, жёлтые и синие. Также встречаются черные с белыми пятнами, синии с красными пятнами, крас- ные с жёлтыми пятнами, белые с рыжими пятнами, некоторые из них пёстрые, а иные полосатые в разных видах. Каждый дом окружен садом, изгородь которого состоит из вишни, сливы и прочих деревьев. Земля в них засажена капустой, морковью, репой, петрушкой, и так далее.
	       </div>
    <div class="page-slider" style="position:absolute;left:577px;width:447px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
   </div>