<div class="page" id="page131">
    <div class="page-slider" style="position:absolute;left:81px;top:307px;width:865px;height:395px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Во всей русской стране никто не смеет же- ниться без дозволения служилых людей <span style="letter-spacing:-0.3px;word-spacing:-1px;">епархии. На этот счёт имеется твёрдый поря-</span> док. Они с большой строгостью наблюдают <span style="letter-spacing:-0.3px;word-spacing:-1px;">7 
степеней родства, не так как в Молдавии и</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> Валахии, где поступают подобно животным.</span>
          </div>
   <div style="text-align:justify;" class="col2">
Чтобы сберечь особо дорогие вещи, ценно- сти и приданое, местные жители склады- вают всё в кованый сундук, а затем относят его на хранение в глубокий каменный под- вал 
какой-нибудь церкви. Это считается самое надежное место. 
   </div>
   </div>  
   </div>