<div class="page" id="page135">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Удивительнее всего то, что в устах у них один язык, ибо если станешь приценяться к какой-нибудь вещи, идя от начала ряда и до конца, все продавцы говорят одну цену, 
что приводило нас в изумление.<br><br>  

В большей части торговых лавок есть ма- ленькие мальчики, в которых мы замечали поразительное умение купить и продать, ибо они надували нас похуже, чем их стар- шие. 
Как правило эти мальчики невольники, <span style="letter-spacing:-0.3px;word-spacing:-1px;">турки, и мы легко узнавали их по глазам, ли-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> цам и волосам. Владельцы лавок смело ста-</span> вят их торговать, потому что своей хитро- 
стью и ловкостью они превосходят любого. Совершая покупки, мы часто одерживали <span style="letter-spacing:-0.3px;word-spacing:-1px;">верх над взрослыми, но эти мальчишки неиз-</span> менно оставляли нас в дураках и мы были 
против них бессильны.
          </div>
   <div style="text-align:justify;" class="col2"></div>
   </div>  
   </div>