<div class="page" id="page58">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
            <div class="text2col">
   <div style="text-align:justify;" class="col1">
   </div>
   <div style="text-align:justify;" class="col2">
Нет сомнений, что сан воеводы такого об- ширного города как Путивль, на Востоке ра- вен визирю, однако перед нашим владыкой его называли не воеводой, как следовало бы, а просто именем Никита Алексеевич. Тако е редкостное смирение и благочестие!<br><br> 

Знай, что воеводы в этой стране люди учё- ные — законоведы, философы, логично рас- суждающие, любят тонкие вопросы и глу- бокомысленные споры. Они приобретают <span style="letter-spacing:-0.3px;word-spacing:-1px;">знания от наставников, к ним приезжающих,</span> от патриархов и архиереев, коих обыкно- венно расспрашивают, а когда те ответят на их вопросы, то подчиняются. Мы видели <span style="letter-spacing:-0.3px;word-spacing:-1px;">у каждого из них тысячи больших книг, кото-</span> рые они охотно читают днём и ночью.
<div style="position:absolute;top:650px;left:680px;background: url('images/sections/4/pages/57/foot1.png') no-repeat; height:26px;width:115px; background-size: contain;"></div>   
</div>
   </div>  
</div>