<div class="page" id="page63">
     <div class="page-slider" style="position:absolute;left:532px;width:492px;height:768px;padding: 0 4px 0 4px;border-left: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-left"  style="padding-top:357px;">
            <div style="position:absolute;top:85px;left:73px;width:361px;height:98px;background:url('images/pages/63/dolg.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:286px;left:10px;width:109px;height:260px;background:url('images/pages/63/v.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
		день нашего въезда в Москву мы пали ниц и возблагодарили Всевышнего Бога,<span style="letter-spacing:0.2px;word-spacing:3px;"> Который даровал нам милость увидеть</span>                    
                </div>
	эту великую столицу, этот новый Рим, город церквей и монастырей, славный во всём мире. С нашей души спала великая забота и мы много радовались. Да и как могло быть иначе, когда стремясь сюда, мы целые три года без десяти дней странствуем среди опасностей и невзгод?          
            </div>
   </div>