<div class="page" id="page29">
       <div class="text2col">
	   <div style="text-align:justify;" class="col1">
		На это главный из купцов отвечал царю: <span style="font-style:italic;">«Мы просим тебя государь не открывать <span style="letter-spacing:-0.3px;word-spacing:-1px;">своего казнохранилища на содержание вой-</span> ска и военные расходы. Ради пользы веры нашей мы сами дадим тебе достаточно средств для этой битвы».</span> Говорят, что только от себя этот купец предоставил царю 600 тысяч рублей, со словами: <span style="font-style:italic;">«Это, <span style="letter-spacing:-0.3px;word-spacing:-1px;">мой господин, я направляю в твоё распоря-</span> жение из той доли, коей наделил меня Бог во дни твоего славного царствования».</span> Дpугие купцы, знатные люди и государ- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ственные сановники, видя, что сей муж пре-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> доставил такие богатства, поревновали ему</span> и все предложили царю огромные суммы.<br><br>
		Вообще, здешние купцы обыкновенно счи- тают своё состояние миллионами. Но гро- мадные средства пожертвовали не только <span style="letter-spacing:-0.1px;word-spacing:-1px;">они. Монастыри также направили царю зна-</span>
	   </div>
	   <div style="text-align:justify;" class="col2">
             <div style="width:417px;height:484px;padding-bottom:25px;background:url('img/glava1/29.jpg') no-repeat; background-size:contain;"></div>
		чительные богатства, в дополнение к чему снарядили ещё и около двадцати тысяч вооружённых ратников.
	   </div>
       </div>
   </div>