<div class="page" id="page56">
     <div id="linep1" style="position:absolute;left:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
       <div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava2/56.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
                    <div style="float:left;padding-left:81px;padding-top:87px;padding-right: 17px;">
       Вместе с воеводой, после торжественной <span style="letter-spacing:-0.3px;word-spacing:-1px;">встречи, мы вошли в Путивль, куда сразу яви-</span> лись почётные лица города и поднесли на- шему владыке большой дар от имени царя.<br><br>

Поистине, царство приличествует и подо- бает им, а не нам. Мы были очевидцами, как они, выражая набожность и благоговение, бросались на землю и становились на ко- лени в пыль, будучи одеты в свои дорогие <span style="letter-spacing:-0.3px;word-spacing:-1px;">кафтаны из превосходной ангорской шерсти</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> и сукна с широкими, обильно расшитыми зо-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> лотом воротниками, с драгоценными пугови-</span> цами и красивыми петлицами. Переводчик, через которого мы говорили по-турецки и по-гречески, передавал наши благожелания по-русски. К слову сказать, язык у сербов, болгар, казаков и русских один!
         <div style="position:absolute;top:652px;left:225px;background: url('img/foot1.png') no-repeat; height:26px;width:115px; background-size: contain;"></div>
         </div>
       </div>
   </div>