<div class="page" id="page74">
             <div class="text2col">
   <div style="text-align:justify;" class="col1">
Переводчики учили нас всем принятым по- <span style="letter-spacing:-0.3px;word-spacing:-1px;">рядкам, а кроме них решительно никто к нам</span> не являлся, ибо существует правило, что до тех пор пока архиерей не представится царю и не будет допущен к руке, ни сам он <span style="letter-spacing:-0.3px;word-spacing:-1px;">не покидает жилища, ни к нему никто не при-</span> ходит, так что и мы совсем не могли выхо- дить из дому. Таков обычай.<br><br>

Ещё прежде чем мы оказались в Путивле, нам рассказывали, что въехал в эту страну один сербский митрополит. Мы знали его в Валахии: он взял от нашего владыки патри- <span style="letter-spacing:-0.3px;word-spacing:-1px;">арха письмо, которое дало ему возможность</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> сюда проникнуть. Переменив архиерейскую</span> мантию на шерстяную монашескую, он по- шёл немного прогуляться и поглазеть, ду- мая про себя: «никто меня так не узнает». А <span style="letter-spacing:-0.3px;word-spacing:-1px;">чужестраннаго apxиерея и других мона-</span> шествующих лиц не пускают свободно бро-
   </div>
   <div style="text-align:justify;" class="col2">
<div style="width:418px;height:305px;padding-bottom:25px;background:url('img/glava2/74.jpg') no-repeat; background-size:contain;"></div>
дить по городу, разве только с дозволения <span style="word-spacing:2px;">царя для исполнения необходимых дел.</span> Как только он вышел, его тут же узнали и <span style="letter-spacing:-0.3px;word-spacing:-1px;">донесли патриарху. Итогом стало немедлен-</span> ное заточение и ссылка в страну мрака, где есть такие монастыри, что лучше умереть, <span style="letter-spacing:-0.3px;word-spacing:-1px;">чем жить в них. Вот так недальновидно, при-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ехав за тем чтобы получить пользу, митропо-</span> лит сгубил самого себя.
   </div>
   </div>
</div>