<div class="page" id="page69">
             <div class="text2col">
   <div style="text-align:justify;" class="col1">
Но воевода Путивля сказал ему: «Подожди, в течении шестисот лет, с тех пор как мы <span style="letter-spacing:-0.3px;word-spacing:-1px;">сделались христианами, мы ни разу не слы-</span> хивали, что есть в мире ещё один патриарх, <span style="letter-spacing:-0.4px;word-spacing:-1px;">кроме четырёх: антиохийского, александрий-</span> ского, иерусалимского и константинополь- ского, а с их разрешения мы поставили у <span style="letter-spacing:-0.3px;word-spacing:-1px;">себя пятого, на место римского папы. Не ври!»</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> Тогда важная особа послала просить проще-</span> ния, сознаваясь в своей вине и даже выда- вая себя менее чем за архиерея. Над ним сжалились и дозволили проехать.<br><br>

Что касается купцов, то их русские вообще знать не хотят и для торговых дел в страну не пускают. Но те упорно пробираются при помощи разных хитростей, из коих одна со- стоит в следующем. Собираются несколько <span style="letter-spacing:-0.3px;word-spacing:-1px;">торговцев и достают себе письмо от одного</span><span style="letter-spacing:0.3px;word-spacing:2px;"> из патриархов на имя царя, по делам для</span> 
   </div>
   <div style="text-align:justify;" class="col2">
него приятным. Прибыв на границу, они выдают себя за послов этого патриарха и таким образом проникают внутрь страны. Формально представляя письмо государю, <span style="letter-spacing:-0.3px;word-spacing:-1px;">купцы пользуются моментом и тайком поку-</span> пают всё, что им необходимо.<br><br> 

Но такой способ привести в исполнение <span style="letter-spacing:-0.3px;word-spacing:-1px;">умеют не многие. Большая часть иноземцев,</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> как-то настоятели монастырей, монахи и тор-</span> говцы, ждут кого-нибудь из патриархов и с согласия одного из них присоединяются к его свите. Приехав в Путивль, владыка вы- даёт попутчиков за своих людей и состав- ляет роспись их должностей: настоятелей и монахов причисляет к своим приближён- ным, а торговцев к служителям. 
         <div style="position:absolute;top:650px;left:680px;background: url('images/pages/69/foot1.png') no-repeat; height:26px;width:115px; background-size: contain;"></div>   
      </div>
   </div>
</div>  