<div class="page" id="page23">
       <div class="text2col">
	   <div style="text-align:justify;" class="col1">
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">Бог, видя такую надменность и бессердечие,</span> послал на ляхов своего верного служителя и раба Хмеля, который, став во главе народ- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ного восстания, нанёс решительный удар их</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> кичливой гордости, посрамил их былое вели-</span> чие, подверг унижению и разгрому.<br><br>
		Знай, что государство ляхов состояло пре- <span style="letter-spacing:-0.3px;word-spacing:-1px;">жде из трёх частей. Одной была та, которую,</span> благодаря беспримерной храбрости и во- инской хитрости, вернул себе гетман Зино- вий. Она имеет протяжение на месяц пути в длину и столько же в ширину, вся полна жи- <span style="letter-spacing:-0.3px;word-spacing:-1px;">телями, крепостями и укреплениями, как гра-</span> нат семенами. Вторая часть – та, которая по-прежнему остаётся в руках польской короны. Третью часть гетман совершенно опустошил, обратив её в пустую степь: перебил там мужчин, искоренил панскую власть, сжёг все местные города и селения.
	   </div>
	   <div style="text-align:justify;" class="col2"></div>
       </div> 
    <div class="page-slider" style="position:absolute;top:84px;left:525px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
   </div>