<div class="page" id="page97">
    <div class="page-slider" style="position:absolute;top:250px;left:81px;width:865px;height:421px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">В этой стране мы видели нищих, которые си-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> дели в веригах, окованные железом и в полу-</span> истлевших одеждах. 40 лет они несли свой подвиг и что удивительно, мы обоняли от <span style="letter-spacing:0.2px;word-spacing:2px;">них такой приятный запах, подобный мус-</span> 
          </div>
   <div style="text-align:justify;" class="col2">
кусу, что и передать нельзя. Подобного со- стояния люди достигают за счёт скудного <span style="letter-spacing:-0.3px;word-spacing:-1px;">питания, полного отказа от мяса и животной</span> пищи. Мы благодарим Бога за то, что удо- стоил нас узреть таких святых в наши дни!
   </div>
   </div>  
   </div>