<div class="page" id="page38">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:416px;height:585px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text1col-left" style="padding-top:204px;">
            <div style="position:absolute;top:77px;left:73px;width:216px;height:59px;background:url('images/pages/38/russkoe.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:188px;left:14px;width:109px;height:260px;background:url('images/pages/38/k.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:30px;text-align:justify;">
			<span style="letter-spacing:0.2px;word-spacing:3px;">огда царь Алексей отправился в поход</span> и достиг Смоленска, некоторые из кон- ных ратников убежали тайком и вороти- лись в свои дома без спроса, но не могли <span style="letter-spacing:0.2px;word-spacing:5px;">скрыться: их находили царские слуги,</span>                     
                </div>
		разъезжавшие по областям, и приводили в столицу со связанными за спиной руками, в <span style="letter-spacing:-0.3px;word-spacing:-1px;">оковах, к министрам и наместникам царя. Не-</span> медленно их обнажали и водили по городу, в то время как позади шёл палач с кнутом из длинных бычачьих жил, провозглашал их преступление и при каждом шаге нещадно <span style="letter-spacing:-0.3px;word-spacing:-1px;">стегал. Плечи и спина таких несчастных при-</span> нимали вид достойный плача: кровь лилась из них ручьём. Одних позднее бросали в тюрьму, других вешали. Вот каким образом они мучают преступников.            
            </div>
   </div>