<div class="page" id="page73">
    <div class="page-slider" style="position:absolute;top:368px;left:81px;width:863px;height:331px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:180px" class="col1">
<div style="position:absolute;top:85px;left:73px;width:442px;height:59px;background:url('images/pages/73/kak.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:166px;left:17px;width:109px;height:260px;background:url('images/pages/73/p.png') no-repeat; background-size: contain;"></div>
<div style="padding-left:27px;text-align:justify;">
оразительно до какой степени эта стра- на, имеющая столь огромные размеры, строго охраняется. Все города её окру- жены крепостной стеной и водным рвом, <span style="letter-spacing:-0.3px;word-spacing:-1px;">через который устроен мост. Войти внутрь</span>
</div>
   </div>
   <div style="text-align:justify;padding-top:180px;" class="col2">
нельзя иначе как только в середине города через этот узкий проход по мосту. А других <span style="letter-spacing:-0.3px;word-spacing:-1px;">объездных путей и вовсе нет. Поэтому, ника-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> кому шпиону, хотя бы он был из туземцев, со-</span> вершенно невозможно проникнуть. 
   </div>
   </div>  
   </div>