<div class="page" id="page131">
<div style="position:absolute;top:77px;left:73px;width:203px;height:59px;background:url('images/sections/6/pages/131/pog.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:160px;left:17px;width:109px;height:260px;background:url('images/sections/6/pages/131/p.png') no-repeat; background-size: contain;"></div>
       <div class="text1col-left" style="padding-top:176px;">
                <div style="padding-left:27px;text-align:justify;">
огода в этой стране такова, что с начала Рождественского поста и до апреля ме- сяца идет обильный снег. Он замерзает слой за слоем, так что при большом мо- розе дороги 
от езды покрываются льдом                    
                </div>
и становятся похожими на глыбу мрамора. Что касается полей, то они и вовсе непрохо- димы от снега, который бывает в несколько раз выше человеческого роста.<br><br>  

Продукты в это холодное время очень до- ступны, так как появляется дешёвый транс- порт – сани, на которых можно ездить по рекам с большой быстротой. Это великое, 
изумившее нас чудо! Одна лошадь может везти столько груза, сколько двадцать на- ших лошадей и с места не сдвинут         
            </div>
    <div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>
  </div>
   </div>