<div class="page" id="page137">
<div id="linep1" style="position:absolute;left:549px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:553px;width:471px;height:768px;background:url('img/glava4/-137.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="position:absolute;top:76px;left:73px;width:382px;height:59px;background:url('img/glava4/vel.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:135px;left:17px;width:109px;height:260px;background:url('img/glava4/s.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:176px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
о своими вельможами царь обходится <span style="letter-spacing:-0.3px;word-spacing:-1px;">так, что вместо покоя подвергает их боль-</span> шим трудам. Нам рассказывали, что в одно воскресенье, по обыкновению он <span style="word-spacing:1px;">был у заутрени. И хотя бояре имеют обы-</span>                     
                </div>
чай присутствовать за богослужением вме- сте с царем, случилось, что в тот день они не знали о его появлении в храме и запоз- дали приходом. Он тотчас записал имена 
тех, которые не явились, и послал привести их из дому со связанными руками. Затем го- сударь отвёл их на берег реки Москвы, кото- рая течёт близ дворца, и велел 
бросить всех в ледяную воду, говоря: <span style="font-style:italic;"> «вот вам награда за то, что вы предпочли спать со своими женами до позднего утра, а не пришли от- стоять заутреню вместе с царем».</span> 
        
            </div>
       </div>
   </div>