<div class="page" id="page122">
<div style="position:absolute;left:81px;top:87px;width:864px;height:394px;background:url('img/glava3/122.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:534px;" class="col1">
Когда Никон поднялся, ему поднесли таз и кувшин, после чего он обходил несчастных, умывая, вытирая и лобзая их ноги, всем по порядку, причём раздавал щедрую мило- <span style="letter-spacing:0.3px;word-spacing:3px;">стыню каждому до последнего. Глядя на</span>
          </div>
   <div style="text-align:justify;padding-top:534px;" class="col2">
это мы чрезвычайно дивились и были тро- <span style="letter-spacing:-0.3px;word-spacing:-1px;">нуты до слез. Тот же христианский обычай — </span>милостиво прислуживать перед калеками пищей и питьём во дни особых праздников, исполняет в этой стране и сам царь.
   </div>
   </div>
   </div>