<div class="page" id="page66">
    <div class="page-slider" style="position:absolute;top:335px;left:81px;width:863px;height:364px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
    <div style="position:absolute;top:85px;left:73px;width:501px;height:59px;background:url('images/sections/4/pages/66/otnosh.png') no-repeat; background-size:contain;"></div>
      <div style="position:absolute;top:156px;left:30px;width:93px;height:230px;background:url('images/sections/4/pages/66/a.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:181px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
рхиереи восточного мира, греческие и арабские, не ценятся в этой стране, ибо они сотнями и тысячами непрестанно     бегут в Россию за милостыней.
   </div>
</div>
   <div style="text-align:justify;padding-top:181px;" class="col2">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Кипрский архиепископ при въезде в Россию</span> пытался выдать себя за патриарха, желая таким нечестным путём придать своему имени больше величия.
   </div>
   </div>  
   </div>