<div class="page" id="page3">
        <div style="position:absolute;top:82px;left:73px;width:137px;height:59px;background:url('images/sections/1/pages/3/pred.png') no-repeat; background-size:contain;"></div>
    <div style="position:absolute;top:206px;left:27px;width:69px;height:226px;background:url('images/sections/1/pages/3/v.png') no-repeat; background-size: contain;"></div>
  <div class="text1col-left" style="padding-top:204px;">
      <div style="padding-left:17px;">
        середине &nbsp;XVII&nbsp; века некий арабский &nbsp;свя- <span style="letter-spacing: 0.7px;">щенник по имени Макарий избирается</span>
        патриархом <a class="article-link" data-text="Некоторый комментарий для данной записи">Антиохийской</a>
        Православной <span style="letter-spacing: 0.7px;">Церкви. Приняв сан, он обнаруживает,</span> <span
        style="letter-spacing: 0.5px;">что у его епархии накопились огромные</span>
      </div>
      <span style="letter-spacing: 0.5px;">долги, справиться с которыми ему не под</span> <span
      style="word-spacing:-2px;">силу. Стараясь найти выход из тяжелой ситу-</span> ации, он решается на опасное
      путешествие в &nbsp;Россию, чтобы лично обратиться за помо- щью к единственному православному царю мира - &nbsp;Алексею
      &nbsp;Михайловичу &nbsp;Романову. &nbsp;В дороге &nbsp;Макария сопровождает родной сын архидиакон &nbsp;Павел,
      &nbsp;который по просьбе од- ного из друзей ведёт тщательное описание многолетнего путешествия своего отца.
    </div>
  <div class="page__separator"></div>
  <div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>

  </div>

  <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      карту отключил
    </div>
  </div>

</div>

