<div class="page" id="page50">
    <div class="page-slider" style="position:absolute;left:81px;top:275px;width:864px;height:400px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
	   <div style="text-align:justify;" class="col1">
		На первое место за столом гетман посадил патриарха, в то время как государи Молда- вии и Валахии, у коих мы гостили прежде, сами занимали первые места, a apxиерея са- жали ниже себя.
	   </div>
	   <div style="text-align:justify;" class="col2">
		Удаляясь с извинением <span style="letter-spacing:-0.3px;word-spacing:-1px;">к своему войску, он любезно прислал нам денег на дорогу, а также дал письмо во все под-</span><p style="text-align:center;margin:0;"> властные ему города для получения</p><p style="text-align:center;margin:0;"> пищи, даровых лошадей</p><p style="text-align:center;margin:0;"> и повозок.</p> 
	   </div>
       </div>  
   </div>