<div class="page" id="page145">
<div class="page-slider" style="position:absolute;left:0px;width:447px;height:768px;padding-right:4px;border-right: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-right">
Что касается палат знатных московитов, то большей частью — это новые здания  из камня и кирпича, поистине образцовой ра- <span style="letter-spacing:-0.3px;word-spacing:-1px;">боты. Мы дивились на их красоту, прочность,</span> 
<span style="letter-spacing:-0.3px;word-spacing:-1px;">изящество, на их огромные башни, обильную</span> раскраску и множество колонн с резьбой.<br><br> 

Кирпич в этой стране превосходный. Рус- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ские весьма искусны в его изготовлении. По</span> своей цене он очень дёшев, ибо тысяча его стоит 64 копейки и потому большая часть 
<span style="word-spacing:2px;">построек возводится из кирпича. Известь</span> у них хорошего качества, лучше извести алеппской. Когда строительство окончено и кирпичная  кладка завершена, её белят из- 
вестью, которая пристаёт к кирпичу весьма крепко и не отпадает в течении сотен лет.  Поэтому, любое кирпичное строение от ка- <p style="text-align:center;margin:0;">менного не отличается.</p>
   </div>
   </div>  