 <div class="page" id="page40">
     <div class="page-slider" style="position:absolute;left:83px;top:313px;width:864px;height:386px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
     </div>
          <div class="text2col">
  	      <div style="text-align:justify;" class="col1">
	  	   <span style="letter-spacing:-0.3px;word-spacing:-1px;">Патриарх Никон сообщил нам, что царь взял</span> для себя из областей, которые не покори- лись мирно, 300 тысяч пленных. Все они по- <span style="letter-spacing:-0.3px;word-spacing:-1px;">лучили возможность разместиться в незаня-</span> тых домах столицы и окрестных деревнях, вымерших со времён моровой язвы.
  	      </div>
              <div style="text-align:justify;" class="col2">
                   Счастье тем, которые сделались пленни- ками царя, ибо он назначил каждому, даже <span style="letter-spacing:-0.3px;word-spacing:-1px;">малому ребёнку, ежедневно по 4 копейки на</span> содержание. Намерение государя состояло тогда в том, чтобы обезлюдить владения врагов и заселить свои собственные.
  	      </div>
	 </div>  
   </div>