<div class="page" id="page39">
    <div class="page-slider" style="position:absolute;top:87px;left:81px;width:864px;height:346px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
	   <div style="text-align:justify;padding-top:476px;" class="col1">
		Горе тому, кто совершит преступление на Русской земле, богатый он или бедный! Ни- какое заступничество, никакой подкуп не <span style="letter-spacing:-0.3px;word-spacing:-1px;">принимаются, над ним совершают суд спра-</span> ведливо, по Божьему закону, ибо до такой строгости, какая принята в этих краях, не  достигал никто из царей.
           </div>
           <div style="text-align:justify;padding-top:476px;" class="col2">
		Мы заметили, что они казнят смертью без пощады и помилования за четыре престу- пления: за измену, убийство, святотатство и <span style="letter-spacing:-0.3px;word-spacing:-1px;">лишение девицы невинности без её согла-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> сия. При этом обязательно оглашают просту-</span> пок нарушителя, водя его по городу и истя- зая кнутом, от чего многие умирают.
           </div>
       </div>  
   </div>