<div class="page" id="page55">
<div style="position:absolute;left:81px;top:306px;width:864px;height:394px;background:url('img/glava2/55.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:204px;" class="col1">
            <div style="position:absolute;top:82px;left:73px;width:319px;height:89px;background:url('img/glava2/putivl.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:158px;left:17px;width:109px;height:260px;background:url('img/glava2/r.png') no-repeat; background-size: contain;"></div>
<div style="padding-left:27px;text-align:justify;">
ано утром 20 июля, мы переехали гра- ницу земли казаков и прибыли на берег
   </div>
</div>
   <div style="text-align:justify;padding-top:204px;" class="col2">
глубокой реки, называемой Сейм, которая  составляет предел земли московской.
   </div>
   </div>  
   </div>