<div class="page" id="page172">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:406px;height:443px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
В этой связи было бы весьма поучительно сравнить рассказ Олеария и Павла Алеп- пского, сравнить «основательнейший», как его именуют, и усиленно продвигаемый в массы классический западный труд с наблюдениями одного из ярких представителей восточной культуры. Думается, подобное сравнение станет наилучшей демонстрацией того явления, в которое на протяжении веков инвестируются громадные средства и усилия людей «выдающейся эрудиции». <br><br>

Имя этому явлению – русофобия. Любому, кто желает потрудиться на данном поприще, предлагаемые ниже фрагменты, целиком заимствованные из книги «Путешествие в Московию», бесспорно послужат редким источником вдохновения и образцовым наглядным пособием. Для тех же кто предпочитает оставаться беспристрастным, буйная фанта
       </div>
   <div style="text-align:justify;padding-top:566px;" class="col2">
       зия Олеария – прекрасная возможность убедиться в том до какой степени убожества и лживости можно дойти, если не обуздывать в своей душе ненависть к православию. 
   </div>
   </div>  
   </div>