<div class="page" id="page85">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:524px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
<span style="letter-spacing:-0.3px;word-spacing:-1px;">Царь спросил драгомана: «почему патриарх</span> не говорит быстро?» Тот отвечал: «потому что он стал обучаться греческому совсем недавно, но он знает турецкий и если царю     угодно, будет говорить на нём». «Нет! Нет! – <span style="letter-spacing:-0.3px;word-spacing:-1px;">сказал царь. Боже сохрани, чтобы такой свя-</span> той муж осквернил свои уста этой нечистой <span style="letter-spacing:-0.3px;word-spacing:-1px;">речью!» Ненависть их к туркам очень велика.</span> При вратах царя есть 70 переводчиков, зна- ющих все языки, но арабскаго не знают. Бог оказал нам милость владением греческого, <span style="letter-spacing:-0.3px;word-spacing:-1px;">иначе попали бы мы в большое затруднение.</span><br><br> 

Позднее нам говорили, что почёт, которым <span style="letter-spacing:-0.3px;word-spacing:-1px;">царь Алексей удостоил патриарха антиохий-</span> ского, ни разу не был оказан им другому <span style="letter-spacing:-0.3px;word-spacing:-1px;">владыке. Во-первых, когда в прошлом на при-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ёме был иерусалимский патриарх Паисий, го-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> сударь приветствовал его, сойдя до послед-</span> ней, третьей ступеньки трона. Теперь же он 
          </div>
   <div style="text-align:justify;padding-top:631px;" class="col2">
встретил нашего учителя отойдя от трона довольно значительное расстояние.
   </div>
   </div>  
   </div>