<div class="page" id="page107">
<div class="page__separator"></div>
<div class="page__column">
    <div class="page-slider page-slider_align_right">
      <div class="page-slider__container"></div>
      <div class="page-slider__pagination"></div>
    </div>
  </div>
       <div class="text1col">
            <div style="position:absolute;top:87px;left:73px;width:368px;height:88px;background:url('images/sections/5/pages/107/tsar2.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:252px;left:10px;width:109px;height:260px;background:url('images/sections/5/pages/107/v.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:294px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
			Москве постоянно живут консулы евро- пейских королей: английского, австрий- ского, шведского и так далее. Но когда некоторое время назад англичане устро-                    
                </div>
		или смуту, восстали на своего государя и убили его, царь Алексей очень разгневался, так как они изменили монарху. По этой при- чине он повелел изгнать всех послов из своей страны, пока новый король не при- слал важного представителя, дабы восста- <span style="letter-spacing:-0.3px;word-spacing:-1px;">новить попранные отношения дружбы и рас-</span> положить мысли царя к благосклонности.         
            </div>
       </div>
   </div>