<div class="page" id="page103">
       <div class="text2col">
   <div style="text-align:justify;padding-top:204px;" class="col1">
<div style="position:absolute;top:87px;left:73px;width:329px;height:89px;background:url('img/glava3/tver.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:187px;left:11px;width:109px;height:260px;background:url('img/glava3/n.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
а Руси мы вступили во вторые врата <span style="letter-spacing:0.2px;word-spacing:1px;">борьбы, пота, трудов и пощения, ибо</span> все в этой стране, от мирян до монахов, <span style="letter-spacing:0.2px;word-spacing:1px;">едят только раз в день, хотя бы это</span><span style="letter-spacing:0.3px;word-spacing:4px;"> было летом, и выходят от церковных</span>
          </div>
 служб всегда не ранее как около 2-х часов пополудни. Во всех местных церквах совер- <span style="letter-spacing:-0.3px;word-spacing:-1px;">шенно нет сидений, поэтому люди стоят как</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> статуи, молча, тихо, делая непрестанно зем-</span> ные поклоны, ибо они привычны к этому, не скучают и не ропщут. Вообще, усердие всех русских, больших и малых, к посещению храма выше всякого описания. Множеством молитв они превосходят, наверное, самих <span style="letter-spacing:-0.1px;word-spacing:-1px;">святых, и не только бедняки, крестьяне, жен-</span><span style="letter-spacing:0.2px;word-spacing:1px;"> щины, девицы и малые дети, но и государ-</span>
       </div>
   <div style="text-align:justify;" class="col2">
<div style="width:418px;height:424px;margin-bottom:29px;background:url('img/glava3/103.jpg') no-repeat; background-size:contain;"></div>
ственные сановники и их жены. Что можно сказать на это? Если даже царь и царица, кои стоят во главе подданных, обладают столь высокими добродетелями, то каковы же должны быть простолюдины?!
   </div>
   </div>
   </div>