<div class="page" id="page115">
<div style="position:absolute;left:81px;top:87px;width:864px;height:377px;background:url('img/glava3/115.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:506px;" class="col1">
Всякий раз как наш владыка благословлял <span style="letter-spacing:-0.3px;word-spacing:-1px;">одного из недужных, царь, вслед за ним, под-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> ходил к больному и – о удивление! – целовал</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> его в голову, уста и руки. Мы были поражены</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> изумлением при виде такой святости и сми-</span><span style="letter-spacing:0.1px;word-spacing:1px;"> рения, тогда как от брезгливости нам хоте-</span>
          </div>
   <div style="text-align:justify;padding-top:506px;" class="col2">
лось убежать оттуда. Затем царь ввёл вла- дыку в келью, где находился больной, кото- рый уже восемь лет не владеет ногами. Во- йдя к нему, Алексей Михайлович спросил о состоянии монаха и когда тот малодушно взмолил о смерти, царь прикрикнул на него.
   </div>
   </div>
   </div>