<div class="page" id="page149">
    <div class="page-slider" style="position:absolute;top:338px;left:87px;width:863px;height:362px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
        <div class="page-slider__pagination"></div>
</div>
<div style="position:absolute;top:76px;left:73px;width:240px;height:59px;background:url('images/pages/149/dal.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:128px;left:17px;width:109px;height:260px;background:url('images/pages/149/s.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:176px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
ибирь есть великая и обширная страна, простирающаяся до соедидинения с Ки- таем. Её пространство столь велико, что ум не в силах обнять его.                     
                </div>
   </div>
   <div style="text-align:justify;padding-top:86px;" class="col2">
Едва прибывший воевода рассказывал па- триарху, что находился в отсутствии из Мо- сквы девять лет, из коих три года ехал в Си- бирь, три года оставался там, а теперь 
три <span style="letter-spacing:-0.3px;word-spacing:-1px;">полных года был в дороге, пока не добрался</span> до столицы, привезя с собою по обыкнове- нию подать царю, на 180 тысяч рублей.
   </div>
   </div>  
   </div>