<div class="page" id="page35">
      <div id="linep1" style="position:absolute;left:572px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
	<div class="text1col">
<div style="float:left;padding-left:81px;padding-top:104px;padding-right: 17px;text-align:justify;">
		Лукавые ляхи открыто говорили туркам: <span style="font-style:italic;">«Вы имеете больше прав занять нашу страну, чем московский краль. Если же он завоюет польское государство, то скоро пойдет и на вас, ибо только мы противо- стоим ему и отражаем от вашей страны».</span><br><br>
		Но турки народ не глупый, поэтому к таким речам они отнеслись равнодушно и от уча- стия в защите ляхов отказались, испытывая <span style="letter-spacing:-0.3px;word-spacing:-1px;">явные опасения вступать во враждебные от-</span> ношения с русским царем. Тогда поляки по- теряли последнюю надежду. Да будет бла- <span style="letter-spacing:-0.3px;word-spacing:-1px;">гоугодно всевышнему Творцу искоренить их</span> вконец, в возмездие за то, что они сделали с бедными казаками: за убийства малых де- тей и беременных женщин, которые не мыс- лят зла, за поджоги и немилосердное изби- ение христиан, особенно в ночь страстей Господа нашего Иисуса Христа!
	</div>
<div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava1/35.jpg') no-repeat; background-size:contain;"></div>
   </div>
</div>