<div class="page" id="page102">
<div style="position:absolute;left:81px;top:87px;width:864px;height:363px;background:url('img/glava3/102.jpg') no-repeat; background-size:contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:508px;" class="col1">
<span style="letter-spacing:0.2px;word-spacing:1px;">В некоторые дни мы выходили от обедни</span> не раньше девятого часа после восхода солнца И всё это время народ стоял на но- гах. Какая вынослиивость! Что за крепость <span style="letter-spacing:-0.3px;word-spacing:-1px;">в их телах и какие у них железные ноги! Без-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> спорно все эти люди святые! Они превзошли</span>
          </div>
   <div style="text-align:justify;padding-top:508px;" class="col2">
и подвижников в пустынях! Нет сомнения, что Творец по праву даровал русским цар- ство, которого они достойны и которое им приличествует, за то, что все заботы их ду- ховные, а не телесные. Всевышний Бог да продлит их существование!
   </div>
   </div>  
   </div>