<div class="page" id="page158">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:394px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
<div style="position:absolute;top:76px;left:73px;width:141px;height:59px;background:url('images/pages/158/sob.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:165px;left:11px;width:109px;height:260px;background:url('images/pages/158/v.png') no-repeat; background-size: contain;"></div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:176px;" class="col1">
<div style="padding-left:27px;text-align:justify;">
восточной стороне, на расстоянии 1600 верст от Москвы, лежит земля племени мученика Христофора, состоящего под <span style="letter-spacing:-0.3px;word-spacing:-1px;">властью русского царя. Жители этого пле-</span><span style="letter-spacing:0.3px;word-spacing:1px;"> мени едят 
человеческое мясо, а также</span>                     
                </div>
своих мертвецов. У них нет лошадей и они вовсе не знают хлеба, питаясь только сы- рой рыбой, дикими животными и собаками, коих они не варят. Ежегодно, в качестве по- 
дати, это племя вносит в царскую казну <span style="letter-spacing:-0.3px;word-spacing:-1px;">известное количество оленьих шкур, ибо ни-</span> чего другого у них нет. Нам не хватало сме- лости поближе рассмотреть этих людей, ибо 
они не имеют человеческого облика и совершенно дики, за что греки называют их собачелицые. Все они малорослы, сутуло- <span style="letter-spacing:0.3px;word-spacing:1px;">ваты и короткошеи. Когда идут вместе, их</span>
   </div>
   <div style="text-align:justify;padding-top:511px" class="col2">
не отличишь от стада медведей или других животных. Они не имеют домов, но бродят <span style="letter-spacing:-0.3px;word-spacing:-1px;">по горам и лесам; где остановятся, там и но-</span> чуют. Поскольку зимняя стужа, снег и 
холод не прекращаются в их стране, лицо и тело у  жителей тех мест очень белое.
   </div>
   </div>  
   </div>