<div class="page" id="page118">
<div id="linep1" style="position:absolute;left:573px;z-index:9999;width:1px;height:768px;background:url('img/line.png') no-repeat;"></div>
<div style="position:absolute;left:577px;width:447px;height:768px;background:url('img/glava3/118.jpg') no-repeat; background-size:contain;"></div>
       <div class="text1col">
            <div style="position:absolute;top:87px;left:73px;width:150px;height:27.5px;background:url('img/glava3/vel.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:162px;left:11px;width:109px;height:260px;background:url('img/glava3/v.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:174px;padding-right: 17px;">
                <div style="padding-left:27px;text-align:justify;">
			течение первых трёх дней Великого поста, с раннего утра чистого понедель- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ника и до среды, не бывает у них ни купли,</span> ни продажи, не открываются никакие лавки, тем более те, в которых продаются                    
                </div>
		 съестные припасы. По обычаю эти три дня царь и царица постятся особенно усердно, посещая службы днём и ночью, предаваясь молитвенному бдению, совершая поклоны и соблюдая строгое воздержание.<br><br> 

<span style="letter-spacing:0.2px;word-spacing:1px;">Отстояв обедню в среду, царь разговелся</span> сладким компотом. Затем он снова по- <span style="letter-spacing:-0.3px;word-spacing:-1px;">стился до позднего утра субботы, когда по-</span> сле утренней службы приобщился святых Таин и скромно позавтракал.         
            </div>
       </div>
   </div>