<div class="page" id="page38">
       <div class="text1col">
            <div style="position:absolute;top:77px;left:73px;width:216px;height:59px;background:url('img/glava1/russkoe.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:188px;left:14px;width:109px;height:260px;background:url('img/glava1/k.png') no-repeat; background-size: contain;"></div>
            <div style="float:left;padding-left:81px;padding-top:204px;padding-right: 17px;text-align:justify;">
                <div style="padding-left:30px;text-align:justify;">
			<span style="letter-spacing:0.2px;word-spacing:3px;">огда царь Алексей отправился в поход</span> и достиг Смоленска, некоторые из кон- ных ратников убежали тайком и вороти- лись в свои дома без спроса, но не могли <span style="letter-spacing:0.2px;word-spacing:5px;">скрыться: их находили царские слуги,</span>
                </div>
		разъезжавшие по областям, и приводили в столицу со связанными за спиной руками, в <span style="letter-spacing:-0.3px;word-spacing:-1px;">оковах, к министрам и наместникам царя. Не-</span> медленно их обнажали и водили по городу, в то время как позади шёл палач с кнутом из длинных бычачьих жил, провозглашал их преступление и при каждом шаге нещадно <span style="letter-spacing:-0.3px;word-spacing:-1px;">стегал. Плечи и спина таких несчастных при-</span> нимали вид достойный плача: кровь лилась из них ручьём. Одних позднее бросали в тюрьму, других вешали. Вот каким образом они мучают преступников.
            </div>

       </div>
   </div>