<div class="page" id="page114">
    <div class="page-slider" style="position:absolute;left:81px;top:420px;width:864px;height:278px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;padding-top:172px;" class="col1">
<div style="position:absolute;top:87px;left:73px;width:504px;height:59px;background:url('images/pages/114/bez.png') no-repeat; background-size:contain;"></div>
<div style="position:absolute;top:151px;left:17px;width:109px;height:260px;background:url('images/pages/114/k.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
                    <span style="letter-spacing:-0.3px;word-spacing:-1px;">ак нам стало известно, царь очень любит монастырь святого <a class="article-link">Саввы</a>. Прежде ему было чудо от него и теперь он навещает обитель особенно часто. Здесь мы ви- дели помещение, устроенное для ухода за 
          </div>
 за увечными, слепыми и поражёнными за- разной болезнью из числа монахов.
       </div>
   <div style="text-align:justify;padding-top:172px;" class="col2">
Царь назвал это место «Покоищем боль- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ных». От сильного отвратительного и зловон-</span> ного запаха мы не могли оставаться в нём, но государь, взяв нашего учителя под руку, повёл его чтобы тот благословил братьев монастыря и прочёл над ними молитву, дабы они исцелились. 
   </div>
   </div> 
           <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35948.357887929364!2d36.84579009999999!3d55.727708000000014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b560995e19d713%3A0xcc26ff2461d966b8!2z0JfQstC10L3QuNCz0L7RgNC-0LQsINCc0L7RgdC60L7QstGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1443640821944" width="1024" height="768" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="page__map" onclick="javascript:App.hideMap();">
    <div class="page__map-container">
      <div class="closebut" onclick="javascript:App.hideMap();"></div>
      <iframe src="http://savvy-club.com/book/geo/114.html" width="1024" height="768" />
    </div>
  </div>     
   </div>