<div class="page" id="page51">
    <div class="page-slider" style="position:absolute;left:551px;width:472px;height:768px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text1col-left"  style="padding-top:204px;">
            <div style="position:absolute;top:87px;left:73px;width:319px;height:49px;background:url('images/pages/51/anti.png') no-repeat; background-size:contain;"></div>
            <div style="position:absolute;top:188px;left:17px;width:109px;height:260px;background:url('images/pages/51/i.png') no-repeat; background-size: contain;"></div>
                <div style="padding-left:27px;text-align:justify;">
			<span style="letter-spacing:0.3px;word-spacing:3px;">езуиты-католики хотели уничтожить</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> весь род казаков, отнять Печёрский мона-</span> стырь, храм святой Софии и превратить их в свои церкви. Тогда Хмель пришёл в <span style="letter-spacing:0.1px;word-spacing:1px;">Киев, где пряталось несколько тысяч не-</span>                      
                </div>
		верных священников, связал их верёвками и бросил в Днепр для потопления, подвер- <span style="letter-spacing:-0.3px;word-spacing:-1px;">гнув сначала сильнейшим истязаниям. Нако-</span> нец их тела были съедены псами.<br><br>     
		Турки и евреи, подвергаясь беспримерным жестокостям, находились в страхе от каза- ков. Их постигло великое бедствие и не будь нашего патриарха, который заступался за евреев, казаки совсем бы их уничтожили. А как могло быть иначе, если они их враги!?             
            </div>
   </div>