<div class="page" id="page49">
           <div class="text2col">
	            <div style="position:absolute;top:85px;left:73px;width:238px;height:50px;background:url('images/pages/49/bogdan.png') no-repeat; background-size:contain;"></div>
	            <div style="position:absolute;top:160px;left:20px;width:109px;height:260px;background:url('images/pages/49/ch.png') no-repeat; background-size: contain;"></div>
	            <div style="text-align:justify;padding-top:171px;" class="col1">
		            <div style="padding-left:27px;text-align:justify;">
		  		    <span style="letter-spacing:-0.3px;word-spacing:-1px;">то касается Хмеля, ему послали известие</span> о нашем прибытии и вскоре, с большой свитой, он подъехал к городским воро- <span style="letter-spacing:-0.3px;word-spacing:-1px;">там. Все, кроме него, одетого в простое ко-</span><span style="letter-spacing:0.2px;"> роткое платье, были в красивом облаче-</span>                      
	                    </div>
	  	 	    нии с дорогим оружием. Увидев патриарха, он сошел с коня, поклонился, дважды поце- ловал край его одеяния, приложился ко кре- сту и облобызал его правую руку.<br><br>  
	                    Они много разговаривали о разных предме- <span style="letter-spacing:-0.3px;word-spacing:-1px;">тах и всё о чём просил наш патриарх, гетман</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> исполнил. Укажу один пример. В ту пору пра-</span><span style="letter-spacing:-0.2px;word-spacing:-1px;"> витель Валахии и его вельможи находились</span> в большом страхе, ожидая, что Хмель со своим войском невзначай появится у них по причине избиения валахами казаков.             
	            </div>
	        <div style="text-align:justify;" class="col2">
                <span style="letter-spacing:-0.3px;word-spacing:-1px;">Поэтому, они очень просили патриарха хода-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> тайствовать о милосердии и прислать от гет-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> мана письмо с уверением о пощаде, которое</span> могло бы успокоить их умы. Письмо было отправлено. Ещё одно прощение получил новый государь <a class="article-link">Молдавии</a> Стефан, который <span style="letter-spacing:-0.3px;word-spacing:-1px;">также сильно боялся Хмеля по причине уби-</span> ения сына его Тимофея и участия в других гнусных преступлениях, кои молдаване со- вершили над казаками.<br><br> 
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">Будучи в преклонных годах, гетман в изоби-</span><span style="letter-spacing:-0.3px;word-spacing:-1px;"> лии наделён дарами: безхитростный, спокой-</span> ный, молчаливый, не отстраняющийся от простого народа, умеренный в еде, питье и одежде. У него не было особых людей для подачи ему кушаньев, как это водится у ца- <span style="letter-spacing:-0.3px;word-spacing:-1px;">рей. Не заводил он и роскошных карет, укра-</span> шенных драгоценными тканями и заложен- ных большим числом лошадей.
	        </div>
      </div>
    <div class="page__comment" onclick="javascript:App.hideComment();">
    <div class="page__comment-container">
         <div class="commentbk" data-sound="http://savvy-club.com/book/comment/49.mp3">
		<img src="http://savvy-club.com/book/comment/49.png" />
	 </div>
    </div>
  </div>
   </div>