<div class="page" id="page10">

  <div class="page-slider"
       style="position:absolute;top:87px;left:81px;width:863px;height:465px;padding: 4px;border: 1px solid #d7b39d;">
    <div class="page-slider__container"></div>
  </div>
  <div class="text2col">
    <div style="text-align:justify;padding-top:596px;" class="col1">
      <span style="word-spacing:-1.5px;">В надежде испросить от щедрот и милостей</span>
      русского царя посильной помощи в уплате <span
      style="word-spacing:2px;letter-spacing:0.2px;">долга, тихим вечером девятого июля 1652</span>
    </div>
    <div style="text-align:justify;padding-top:596px;" class="col2">
      года, после усердной молитвы, владыка па- триарх двинулся в своё самое
      длительное и опасное путешествие.
    </div>
  </div>
</div>