<div class="page" id="page47">
       <div class="text2col">
<div style="position:absolute;top:87px;left:83px;width:863px;height:438px;background:url('img/glava1/47.jpg') no-repeat; background-size:contain;"></div>
	   <div style="text-align:justify;padding-top:566px;" class="col1">
		Нам рассказывали, что в стране казаков, когда захватят в прелюбодеянии мужчину или женщину, неотвратимо вершится суро- <span style="letter-spacing:0.2px;word-spacing:2px;">вое наказание. Тотчас собираются на них,</span>
	   </div>
	   <div style="text-align:justify;padding-top:566px;" class="col2">
		<span style="letter-spacing:-0.3px;word-spacing:-1px;">раздевают и ставят целью для ружей, лишая</span> всякой милости и сострадания. Таков у них закон, которого никто не может избегнуть!
	   </div>
       </div>
   </div>