<div class="page" id="page141">
    <div class="page-slider" style="position:absolute;top:87px;left:525px;width:417px;height:586px;padding: 4px;border: 1px solid #d7b39d;">
        <div class="page-slider__container"></div>
</div>
       <div class="text2col">
   <div style="text-align:justify;" class="col1">
Приходя к вельможам, мы дожидались пока они не окончат свои моления, ибо в доме любого из них есть чудесная, изящная цер- <span style="letter-spacing:-0.3px;word-spacing:-1px;">ковь, и каждый тщеславится перед другими</span> её 
красотой, наружной и внутренней роспи- <span style="letter-spacing:-0.3px;word-spacing:-1px;">сью. Также у всякаго в доме имеется бесчис-</span> ленное множество икон, украшенных золо- том, серебром и драгоценными каменьями, и не 
только внутри жилищ, но и за всеми дверями, даже за воротами. Это бывает не <span style="letter-spacing:-0.3px;word-spacing:-1px;">у одних бояр, но и у крестьян в сёлах, ибо лю-</span> бовь и вера их к иконам весьма 
велика.<br><br> 

Знай, что мало на Руси найдётся таких не- имущих, которые ходят по этому городу, прося милостыню, ибо царь Алексей Михай- лович распределил их между вельможами для 
получения ежедневного пропитания, и каждый боярин содержит на свои средства немалое число бедняков.
          </div>
   <div style="text-align:justify;" class="col2"></div>
   </div>  
   </div>