<div class="rubric__block-year">
  <div class="content">
    <div class="rubric__years">
      <div class="rubric__year"></div>
      <div class="rubric__year"></div>
      <div class="rubric__year"></div>
      <div class="rubric__year"></div>
      <div class="rubric__year"></div>
      <div class="rubric__year" id="s0" class="active" style="margin-left:300px;">1600</div>
      <div class="rubric__year" id="s1">1604</div>
      <div class="rubric__year" id="s2">1605</div>
      <div class="rubric__year" id="s3">1606</div>
      <div class="rubric__year" id="s4">1607</div>
      <div class="rubric__year" id="s5">1608</div>
      <div class="rubric__year" id="s6">1611</div>
      <div class="rubric__year" id="s7">1612</div>
      <div class="rubric__year" id="s8">1613</div>
      <div class="rubric__year" id="s9">1617</div>
      <div class="rubric__year" id="s10">1618</div>
      <div class="rubric__year" id="s11">1619</div>
      <div class="rubric__year" id="s12">1620</div>
      <div class="rubric__year" id="s13">1624</div>
      <div class="rubric__year" id="s14">1625</div>
      <div class="rubric__year" id="s15">1626</div>
      <div class="rubric__year" id="s16">1628</div>
      <div class="rubric__year" id="s17">1637</div>
      <div class="rubric__year" id="s18">1638</div>
      <div class="rubric__year" id="s19">1641</div>
      <div class="rubric__year" id="s20">1642</div>
      <div class="rubric__year" id="s21">1643</div>
      <div class="rubric__year" id="s22">1644</div>
      <div class="rubric__year" id="s23">1645</div>
      <div class="rubric__year" id="s24">1648</div>
      <div class="rubric__year" id="s25">1649</div>
      <div class="rubric__year" id="s26">1650</div>
      <div class="rubric__year" id="s27">1652</div>
      <div class="rubric__year" id="s28">1653</div>
      <div class="rubric__year" id="s29">1665</div>
      <div class="rubric__year" id="s30">1666</div>
      <div class="rubric__year" id="s31">1668</div>
      <div class="rubric__year" id="s32">1671</div>
      <div class="rubric__year" id="s33">1675</div>
      <div class="rubric__year" id="s34">1679</div>
      <div class="rubric__year" id="s35">1682</div>
      <div class="rubric__year" id="s36">1683</div>
      <div class="rubric__year" id="s37">1689</div>
      <div class="rubric__year" id="s38">1699</div>
    </div>
  </div>
</div>

<div class="rubric__slider">
  <ul class="rubric__slides">
  </ul>
</div>
